In [37]:
!python -m pip install requests
!python -m pip install imdbpy
!python -m pip install pandas
!python -m pip install tmdbsimple

Looking in indexes: https://hohuang%40munichre.com:****@mrartiemea.jfrog.io/mrartiemea/api/pypi/bdap-pypi-virtual/simple
Requirement already satisfied: requests in c:\miniconda\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\miniconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\miniconda\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\miniconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\miniconda\lib\site-packages (from requests) (2.10)

[notice] A new release of pip available: 22.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip
Looking in indexes: https://hohuang%40munichre.com:****@mrartiemea.jfrog.io/mrartiemea/api/pypi/bdap-pypi-virtual/simple
Requirement already satisfied: imdbpy in c:\miniconda\lib\site-packages (2022.7.9)
Requirement already satisfied: cinemagoer in c:\miniconda\lib\site-packages (from imdbpy) (2022.12.27)
Requirement already satisfied: lxml in c:\miniconda\lib\site-packages (from cinemagoer->imdbpy) (4.9.2)
Requirement already satisfied: SQLAlchemy in c:\miniconda\lib\site-packages (from cinemagoer->imdbpy) (2.0.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\miniconda\lib\site-packages (from SQLAlchemy->cinemagoer->imdbpy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\miniconda\lib\site-packages (from SQLAlchemy->cinemagoer->imdbpy) (4.2.0)

[notice] A new release of pip available: 22.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip
Looking in indexes: https://hohuang%40munichre.com:****@mrartiemea.jfrog.io/mrartiemea/api/pypi/bdap-pypi-virtual/simple
Requirement already satisfied: pandas in c:\miniconda\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\miniconda\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\miniconda\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\miniconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\miniconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip
Looking in indexes: https://hohuang%40munichre.com:****@mrartiemea.jfrog.io/mrartiemea/api/pypi/bdap-pypi-virtual/simple
Requirement already satisfied: tmdbsimple in c:\miniconda\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\miniconda\lib\site-packages (from tmdbsimple) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\miniconda\lib\site-packages (from requests->tmdbsimple) (2021.10.8)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\miniconda\lib\site-packages (from requests->tmdbsimple) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\miniconda\lib\site-packages (from requests->tmdbsimple) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\miniconda\lib\site-packages (from requests->tmdbsimple) (2.10)

[notice] A new release of pip available: 22.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
#
# from google.colab import drive
# drive.mount('/content/drive')

### This will only run one time to get the information from the dataset: https://www.kaggle.com/datasets/akshaypawar7/millions-of-moviesw

In [39]:
# import pandas as pd
# import tmdbsimple as tmdb
# from concurrent.futures import ThreadPoolExecutor, as_completed

# # Set up TMDB API credentials
# tmdb.API_KEY = '9b023caa1c3becd6d577ab0e41927545'

# # Define function to get director information from TMDB API
# def get_director_info(movie_id):
#     url = f"https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={tmdb.API_KEY}"
#     response = requests.get(url)
#     try:
#         response.raise_for_status()
#         movie_info = response.json()
#         if 'crew' in movie_info:
#             for crew_member in movie_info['crew']:
#                 if crew_member['job'] == 'Director':
#                     return {'id': crew_member['id'], 'name': crew_member['name']}
#     except requests.exceptions.HTTPError as e:
#         if e.response.status_code == 404:
#             print(f"Movie with ID {movie_id} not found.")
#         else:
#             raise e
#     return None

# # Define a function to process a chunk of the movies DataFrame
# def process_chunk(chunk):
#     # Keep only relevant columns using .loc
#     chunk = chunk.loc[:, ['id', 'title', 'release_date', 'budget', 'revenue', 'credits']]
#     # Get director information for each movie in the chunk
#     directors = []
#     for index, row in chunk.iterrows():
#         movie_id = row['id']
#         director = get_director_info(movie_id)
#         if director is not None:
#             directors.append(director['name'])
#         else:
#             directors.append(None)
#     # Add director column to the chunk using .loc
#     chunk.loc[:, 'director'] = directors
#     return chunk

# # Read movies.csv into a pandas dataframe in chunks, starting from row 350000
# chunk_size = 10000
# start_row = 0
# #Change the location to your file location
# df_iter = pd.read_csv('/content/drive/MyDrive/movies.csv', chunksize=chunk_size, skiprows=range(1, start_row+1))

# # Use multithreading to process the chunks
# output_file = '/content/drive/MyDrive/movies_with_directors.csv'
# with ThreadPoolExecutor() as executor:
#     futures = []
#     for i, chunk in enumerate(df_iter):
#         futures.append(executor.submit(process_chunk, chunk))
#         print(f"Submitted chunk {i}")
#     # Write the processed chunks to the output CSV file as they complete
#     for future in as_completed(futures):
#         chunk = future.result()
#         chunk.to_csv(output_file, mode='a', header=False, index=False)

### Getting new movie information from the Movie Database (TMDb) API

In [40]:
import requests
import pandas as pd
from pandas import json_normalize

tmdb_api_key = '9b023caa1c3becd6d577ab0e41927545'

def get_movie_info(movie_id):
    # Make a request to the TMDb API for the movie information
   # https://api.themoviedb.org/3/movie/502356?api_key=9b023caa1c3becd6d577ab0e41927545&language=en-US 
    url = f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb_api_key}&language=en-US'
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Retrieve the relevant information from the response JSON
        movie_info = response.json()
        return movie_info
    else:
        print(f"Request failed with status code {response.status_code}")

# Testing
movie_id = '760348' 
movie_dict = get_movie_info(movie_id)
flat_movie_dict = json_normalize(movie_dict)
movies_df = pd.DataFrame(flat_movie_dict)
movies_df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/wrvnGcLxmGTlgnZyQyKYaTnibdh.jpg,None,500,"[{'id': 10402, 'name': 'Music'}]",http://harjaspreetsingh.com/projects/gal-dil-di/,760348,tt13394078,pa,Gal Dil Di,...,2020-11-03,700,4,"[{'english_name': 'Punjabi', 'iso_639_1': 'pa'...",Released,,Gal Dil Di,True,0.0,0

In [41]:
# Retrieve the newest 100 movies that being released

def get_new_movies(num_movies_to_get):
  tmdb_api_key = '9b023caa1c3becd6d577ab0e41927545'
  BASE_URL = 'https://api.themoviedb.org/3/movie/now_playing'

  movies = []
  page = 1

  while len(movies) < num_movies_to_get:
      response = requests.get(BASE_URL, params={'api_key': tmdb_api_key, 'page': page})
      if response.status_code == 200:
          data = response.json()
          for movie in data['results']:
              movie_info = get_movie_info(movie['id'])
              movies.append(movie_info)
              if len(movies) >= 100:
                  break
          page += 1
      else:
          break
      return movies

new_movies_df = pd.DataFrame(get_new_movies(100))
new_movies_df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/9n2tJBplPbgR2ca05hS5CKXwP2c.jpg,None,100000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",https://www.thesupermariobros.movie,502356,tt6718170,en,The Super Mario Bros. Movie,...,2023-04-05,906438061,92,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,The Super Mario Bros. Movie,False,7.508,1557
1,False,/wybmSmviUXxlBmX44gtpow5Y9TB.jpg,"{'id': 724848, 'name': 'Shazam! Collection', '...",125000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",,594767,tt10151854,en,Shazam! Fury of the Gods,...,2023-03-15,133004280,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Oh. My. Gods.,Shazam! Fury of the Gods,False,6.850,1323
2,False,/vppGIY6C0OJiWyc8z2oxTrlp3vd.jpg,None,12000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",https://www.evildeadrisemovie.com,713704,tt13345606,en,Evil Dead Rise,...,2023-04-12,52300000,96,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Mommy loves you to death.,Evil Dead Rise,False,6.949,256
3,False,/44immBwzhDVyjn87b3x3l9mlhAD.jpg,"{'id': 2602, 'name': 'Scream Collection', 'pos...",35000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",https://www.screammovie.com,934433,tt17663992,en,Scream VI,...,2023-03-08,168541093,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,New York. New rules.,Scream VI,False,7.383,824
4,False,/h8gHn0OzBoaefsYseUByqsmEDMY.jpg,"{'id': 404609, 'name': 'John Wick Collection',...",90000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",https://johnwick.movie,603692,tt10366206,en,John Wick: Chapter 4,...,2023-03-22,374809568,170,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,No way back. One way out.,John Wick: Chapter 4,False,7.949,1243
5,False,/54IXMMEQKlkPXHqPExWy98UBmtE.jpg,None,0,"[{'id': 27, 'name': 'Horror'}]",,1008005,tt18072540,es,La niña de la comunión,...,2023-02-10,0,103,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,,The Communion Girl,False,6.408,60
6,False,/a2tys4sD7xzVaogPntGsT1ypVoT.jpg,None,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 35, 'n...",https://www.cocainebear.movie/,804150,tt14209916,en,Cocaine Bear,...,2023-02-22,80000000,96,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Get in line.,Cocaine Bear,False,6.393,897
7,False,/eEF40Xk2twM3WjRNZftfo771gjv.jpg,None,45000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.65.movie,700391,tt12261776,en,65,...,2023-03-02,55000000,93,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"65 million years ago, prehistoric Earth had a ...",65,False,6.286,810
8,False,/5Y5pz0NX7SZS9036I733F7uNcwK.jpg,"{'id': 1118596, 'name': 'The Pope's Exorcist',...",18000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",https://www.thepopes-exorcist.movie,758323,tt13375076,en,The Pope's Exorcist,...,2023-04-05,52000000,103,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Inspired by the actual files of Father Gabriel...,The Pope's Exorcist,False,6.556,161
9,False,/m1fgGSLK0WvRpzM1AmZu38m0Tx8.jpg,None,0,"[{'id': 28, 'name': 'Action'}]",,842945,tt10559102,en,Supercell,...,2023-03-17,0,100,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,The chase is on.,Supercell,False,6.355,131
10,False,/xVFpOIVdVn5ZUq1QIf0UJcZWjO2.jpg,None,12300000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",,816904,tt23177868,es,Momias,...,2023-01-05,34200000,88,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,Discover a new world.,Mummies,False,7.158,228
11,False,/wD2kUCX1Bb6oeIb2uz7kbdfLP6k.jpg,"{'id': 1079486, 'name': 'Winnie-the-Pooh (Horr...",100000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",,980078,tt19623240,en,Winnie the Pooh: Blood and Honey,...,2023-01-27,3200000,84,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no bedtime story.,Winnie the Pooh: Blood and Honey,False,5.743,528
12,False,/uNK5dHo6HJpwk1BPcDHHyvX7ZLz.jpg,None,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",,983768,tt11696342,en,Black Warrant,...,2023-01-09,0,94,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Divided by a mission. United by blood.,Black Warrant,False,5.368,19
13,False,/exI61quYa7xMfcIDSp674UnvrhG.jpg,None,6200000,"[{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...",,840326,tt14846026,fi,Sisu,...,2023-01-27,0,91,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Vengeance is golden.,Sisu,False,7.109,23
14,False,/70aVSo3fuZ94jyQ3rT64afEf8lV.jpg,None,17000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",https://ulyssesfilms.de/en/the-amazing-maurice...,676710,tt10473036,en,The Amazing Maurice,...,2022-12-16,3901839,93,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A furry tale about me.,The Amazing Maurice,False,7.000,65
15,False,/aHcWyh0n4YbBy9gxYCDlgsNVS3M.jpg,None,20000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",https://www.knockatthecabin.com,631842,tt15679400,en,Knock at the Cabin,...,2023-02-01,52000000,100,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Save your family or save humanity. Make the ch...,Knock at the Cabin,False,6.416,1353
16,False,/qCW1DUmfWj2xLQRCRhrwkQyKROH.jpg,None,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",https://kotzmovie.com,455476,tt6528290,en,Knights of the Zodiac,...,2023-04-27,0,112,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Go beyond your destiny.,Knights of the Zodiac,False,6.654,13
17,False,/zGoZB4CboMzY1z4G3nU6BWnMDB2.jpg,None,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.amazon.com/dp/B0B7729B9F,758009,tt9686790,en,Shotgun Wedding,...,2022-12-28,4495365,101,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Save the day.,Shotgun Wedding,False,6.309,781
18,False,/ttXABm22Vu9MsQjDAF3Lx2nUPy0.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 28, 'nam...",,1101799,tt21736218,es,Fuga de Reinas,...,2023-04-14,0,96,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,,Queens on the Run,False,7.118,68
19,False,/rvFeNpYimvtEEZgkhiBfXJA5oTf.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",,1026563,tt21199996,es,13 exorcismos,...,2022-11-04,1891519,100,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,,13 Exorcisms,False,5.460,62

In [42]:
new_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  20 non-null     bool
 1   backdrop_path          20 non-null     object
 2   belongs_to_collection  5 non-null      object
 3   budget                 20 non-null     int64
 4   genres                 20 non-null     object
 5   homepage               20 non-null     object
 6   id                     20 non-null     int64
 7   imdb_id                20 non-null     object
 8   original_language      20 non-null     object
 9   original_title         20 non-null     object
 10  overview               20 non-null     object
 11  popularity             20 non-null     float64
 12  poster_path            20 non-null     object
 13  production_companies   20 non-null     object
 14  production_countries   20 non-null     object
 15  release_date           20 non-null     object
 16  revenue                20 non-null     int64
 17  runtime                20 non-null     int64
 18  spoken_languages       20 non-null     object
 19  status                 20 non-null     object
 20  tagline                20 non-null     object
 21  title                  20 non-null     object
 22  video                  20 non-null     bool
 23  vote_average           20 non-null     float64
 24  vote_count             20 non-null     int64
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 3.8+ KB

## Clean up the new movies data for training

In [43]:
import imdb
ia = imdb.IMDb()

def get_imdb_movie_info(imdb_id):
    # Search for the movie by ID
    movie = ia.get_movie(imdb_id)
    # Retrieve all available information
    info_dict = movie.data
    return info_dict

movie_info = get_imdb_movie_info('0113041')
movie_info_json = json_normalize(movie_info)

movie_info

{'localized title': 'Father of the Bride Part II',
 'cast': [<Person id:0000188[http] name:_Steve Martin_>,
  <Person id:0000473[http] name:_Diane Keaton_>,
  <Person id:0001737[http] name:_Martin Short_>,
  <Person id:0931090[http] name:_Kimberly Williams-Paisley_>,
  <Person id:0627624[http] name:_George Newbern_>,
  <Person id:0001085[http] name:_Kieran Culkin_>,
  <Person id:0000703[http] name:_BD Wong_>,
  <Person id:0324533[http] name:_Peter Michael Goetz_>,
  <Person id:0570033[http] name:_Kate McGregor-Stewart_>,
  <Person id:0011038[http] name:_Jane Adams_>,
  <Person id:0506405[http] name:_Eugene Levy_>,
  <Person id:0150427[http] name:_Rebecca Chambers_>,
  <Person id:0651074[http] name:_April Ortiz_>,
  <Person id:0736851[http] name:_Dulcy Rogers_>,
  <Person id:0030926[http] name:_Kathy Anthony_>,
  <Person id:0134852[http] name:_Adrian Canzoneri_>,
  <Person id:0015935[http] name:_Lori Alan_>,
  <Person id:0589353[http] name:_Stephanie Miller_>,
  <Person id:0583654[http] name:_Hallie Meyers-Shyer_>,
  <Person id:0938684[http] name:_Jay Wolpert_>,
  <Person id:0907529[http] name:_Ann Walker_>,
  <Person id:0799161[http] name:_Sandra Silvestri_>,
  <Person id:0015233[http] name:_William Akey_>,
  <Person id:0256225[http] name:_Jonathan Emerson_>,
  <Person id:1262751[http] name:_Seth Kaplan_>,
  <Person id:0696447[http] name:_Joshua Duvall Preston_>,
  <Person id:0173466[http] name:_K.C. Colwell_>,
  <Person id:0173454[http] name:_Chase Colwell_>,
  <Person id:0800830[http] name:_Tony Simotes_>,
  <Person id:0583653[http] name:_Annie Meyers-Shyer_>,
  <Person id:0220984[http] name:_Linda DeScenna_>,
  <Person id:0042963[http] name:_Heidi Averill_>,
  <Person id:0528635[http] name:_Chelsea Lynn_>,
  <Person id:0173473[http] name:_Sue Colwell_>,
  <Person id:0003028[http] name:_Rodrigo Botero_>,
  <Person id:0523629[http] name:_Vince Lozano_>,
  <Person id:0481222[http] name:_Caroline Lagerfelt_>,
  <Person id:0914211[http] name:_Ilene Waterstone_>,
  <Person id:0941781[http] name:_Wendy Worthington_>,
  <Person id:0817928[http] name:_Dorian Spencer_>,
  <Person id:0489605[http] name:_Harris Laskawy_>,
  <Person id:0065735[http] name:_Roxanne Beckford_>,
  <Person id:0376063[http] name:_Valerie Hemmerich_>,
  <Person id:0817379[http] name:_Peter Spears_>,
  <Person id:0064277[http] name:_Susan Beaubian_>,
  <Person id:0060995[http] name:_Mychael Bates_>,
  <Person id:0924959[http] name:_Jerri Rose White_>,
  <Person id:0448335[http] name:_Shannon Kennedy_>,
  <Person id:0091356[http] name:_Casey Boersma_>,
  <Person id:0682403[http] name:_Katie Pierce_>,
  <Person id:0091357[http] name:_Dylan Boersma_>,
  <Person id:0783524[http] name:_Jonathan Selstad_>,
  <Person id:0783525[http] name:_Thomas Selstad_>,
  <Person id:0091443[http] name:_Christian Boeving_>,
  <Person id:0004887[http] name:_Nora Dunn_>,
  <Person id:2502354[http] name:_Kellie Hudson_>,
  <Person id:0582104[http] name:_Ashlyn Messick_>,
  <Person id:0582110[http] name:_Kayley Messick_>,
  <Person id:0636823[http] name:_David Novak_>,
  <Person id:0871406[http] name:_Kylie Travis_>],
 'genres': ['Comedy', 'Family', 'Romance'],
 'runtimes': ['106'],
 'countries': ['United States'],
 'country codes': ['us'],
 'language codes': ['en'],
 'color info': ['Color'],
 'aspect ratio': '1.85 : 1',
 'sound mix': ['Dolby Digital'],
 'box office': {'Budget': '$30,000,000 (estimated)'},
 'certificates': ['Argentina:Atp',
  'Australia:G',
  'Brazil:Livre::(video rating)',
  'Finland:S',
  'Germany:0',
  'Hong Kong:I',
  'Iceland:L',
  'India:U',
  'Ireland:G',
  'Italy:T',
  'Japan:G',
  'Malaysia:U',
  'New Zealand:G',
  'Nigeria:G',
  'Norway:A::(cinema rating)',
  'Peru:Apt',
  'Poland:12::(TV rating)',
  'Portugal:M/6',
  'Saudi Arabia:G',
  'Singapore:PG',
  'South Africa:A',
  'South Korea:All::(recommended rating)',
  'South Korea:15',
  'Spain:T',
  'Sweden:7',
  'United Kingdom:PG',
  'United States:TV-PG',
  'United States:PG',
  'United Arab Emirates:G::(Blu-ray rating)'],
 'original air date': '08 Dec 1995 (USA)',
 'rating': 6.0,
 'votes': 39821,
 'cover url': 'https://m.media-amazon.com/images/M/MV5BOTEyNzg5NjYtNDU4OS00MWYxLWJhMTItYWU4NTkyNDBmM2Y0XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY150_CR0,0,101,150_.jpg',
 'imdbID': '0113041',
 'videos': ['http://www.imdb.com/title/tt0113041/videoplayer/vi3986014489',
  'http://www.imdb.com/title/tt0113041/videoplayer/vi387227929'],
 'plot outline': 'In this sequel to "Father of the Bride", George Banks must accept the reality of what his daughter\'s ascension from daughter to wife, and now to mother means when placed into perspective against his own stage of life. As the comfortable family unit starts to unravel in his mind, a rapid progression into mid-life crisis is in his future. His journey to regain his youth acts as a catalyst for a kind of "rebirth" of his attitude on life when he and his wife, Nina, find how their lives are about to change as well.',
 'languages': ['English'],
 'title': 'Father of the Bride Part II',
 'year': 1995,
 'kind': 'movie',
 'original title': 'Father of the Bride Part II',
 'director': [<Person id:0796124[http] name:_Charles Shyer_>],
 'writer': [<Person id:0352443[http] name:_Albert Hackett_>,
  <Person id:0329304[http] name:_Frances Goodrich_>,
  <Person id:None[http] name:_None_>,
  <Person id:0583600[http] name:_Nancy Meyers_>,
  <Person id:0796124[http] name:_Charles Shyer_>],
 'producer': [<Person id:0062071[http] name:_Carol Baum_>,
  <Person id:0088692[http] name:_Bruce A. Block_>,
  <Person id:0186376[http] name:_Julie B. Crane_>,
  <Person id:0189979[http] name:_Jim Cruickshank_>,
  <Person id:0302939[http] name:_Sandy Gallin_>,
  <Person id:0583600[http] name:_Nancy Meyers_>,
  <Person id:0650561[http] name:_James Orr_>,
  <Person id:0930286[http] name:_Cindy Williams_>],
 'composer': [<Person id:0006293[http] name:_Alan Silvestri_>],
 'cinematographer': [<Person id:0204567[http] name:_Elliot Davis_>,
  <Person id:0005710[http] name:_William A. Fraker_>],
 'editor': [<Person id:0003146[http] name:_Adam Bernardi_>,
  <Person id:0745450[http] name:_Stephen A. Rotter_>],
 'editorial department': [<Person id:0003146[http] name:_Adam Bernardi_>,
  <Person id:0094436[http] name:_Laura Lee Bong_>,
  <Person id:0110445[http] name:_David Broberg_>,
  <Person id:0281540[http] name:_Rolf Fleischmann_>,
  <Person id:0334391[http] name:_Dale E. Grahn_>,
  <Person id:0720084[http] name:_Theresa Repola Mohammed_>,
  <Person id:0243897[http] name:_James Durante_>],
 'casting director': [<Person id:0338528[http] name:_Jeff Greenberg_>,
  <Person id:0349304[http] name:_Sheila Guthrie_>,
  <Person id:0410583[http] name:_Donna Isaacson_>],
 'production design': [<Person id:0220984[http] name:_Linda DeScenna_>],
 'art direction': [<Person id:0660272[http] name:_Greg Papalia_>],
 'set decoration': [<Person id:0568467[http] name:_Ric McElvin_>],
 'costume designer': [<Person id:0364672[http] name:_Enid Harris_>],
 'make up': [<Person id:0136167[http] name:_Ma Kalaadevi Ananda_>,
  <Person id:0090002[http] name:_Karen Blynder_>,
  <Person id:0178464[http] name:_Judi Cooper-Sealy_>,
  <Person id:0314511[http] name:_Susan Germaine_>,
  <Person id:0341186[http] name:_Frank Griffin_>,
  <Person id:0871444[http] name:_Julie Socash_>,
  <Person id:0908271[http] name:_Toni-Ann Walker_>],
 'production manager': [<Person id:0114454[http] name:_R. Anthony Brown_>,
  <Person id:1226128[http] name:_Miguel Ángel Poveda_>],
 'assistant director': [<Person id:0088692[http] name:_Bruce A. Block_>,
  <Person id:0141502[http] name:_Bruce Carter_>,
  <Person id:0173466[http] name:_K.C. Colwell_>,
  <Person id:0870167[http] name:_Nancy Townsend_>,
  <Person id:0701297[http] name:_Meta Valentic_>],
 'art department': [<Person id:0027403[http] name:_Sam Anderson_>,
  <Person id:2421451[http] name:_Tiffany Anderson_>,
  <Person id:0060995[http] name:_Mychael Bates_>,
  <Person id:1219242[http] name:_Cliff Berns_>,
  <Person id:0096332[http] name:_Mauro Borrelli_>,
  <Person id:0003840[http] name:_Mark Boucher_>,
  <Person id:0133285[http] name:_Marco A. Campos_>,
  <Person id:1067704[http] name:_Frank Cappiello_>,
  <Person id:2192869[http] name:_Dan Colegrove_>,
  <Person id:0182547[http] name:_Francis N. 'Lucky' Costello_>,
  <Person id:0176902[http] name:_Ashley Fardys_>,
  <Person id:0285819[http] name:_Paul Ford_>,
  <Person id:0290106[http] name:_Charles W. Francis_>,
  <Person id:0307876[http] name:_Yvonne Garnier-Hackl_>,
  <Person id:0469355[http] name:_Gary A. Krakoff_>,
  <Person id:0557919[http] name:_Masako Masuda_>,
  <Person id:0585295[http] name:_Nancy Mickelberry_>,
  <Person id:0660077[http] name:_Rocky Paolone_>,
  <Person id:0683519[http] name:_Donn Piller_>,
  <Person id:0695631[http] name:_Jennifer Pray_>,
  <Person id:0759712[http] name:_Lazar Samarzich_>,
  <Person id:0811436[http] name:_Dawn Snyder_>,
  <Person id:0851203[http] name:_Tedi Tate_>,
  <Person id:0861595[http] name:_Sally Thornton_>,
  <Person id:1180385[http] name:_Todd Bennett_>,
  <Person id:1129858[http] name:_Joe Elvington_>,
  <Person id:0480793[http] name:_Allen Lafferty_>,
  <Person id:0490901[http] name:_Thomas Lauifi_>,
  <Person id:2158254[http] name:_Ernie Lopez_>,
  <Person id:0531765[http] name:_James MacDonald_>,
  <Person id:0566410[http] name:_Cynthia McCormac_>,
  <Person id:0785512[http] name:_Charles S. Serrano_>,
  <Person id:2111806[http] name:_Kent Wilson_>],
 'sound crew': [<Person id:0026751[http] name:_George H. Anderson_>,
  <Person id:0081668[http] name:_David Bifano_>,
  <Person id:0099597[http] name:_David Boulton_>,
  <Person id:0115177[http] name:_Jeannette Browning_>,
  <Person id:0237559[http] name:_Michael Dressel_>,
  <Person id:0238552[http] name:_Dennis Drummond_>,
  <Person id:0369831[http] name:_Kim Drummond_>,
  <Person id:0238582[http] name:_Patrick Drummond_>,
  <Person id:0253135[http] name:_Ryan Eldred_>,
  <Person id:0255153[http] name:_Carol A. Ellison Fleming_>,
  <Person id:0315439[http] name:_Nerses Gezalyan_>,
  <Person id:0329208[http] name:_Richard Bryce Goodman_>,
  <Person id:0373036[http] name:_Gary A. Hecker_>,
  <Person id:0413202[http] name:_Mauriece Jacks Jr._>,
  <Person id:0437301[http] name:_Doc Kane_>,
  <Person id:0991418[http] name:_Gregory King_>,
  <Person id:0458835[http] name:_Jonathan Klein_>,
  <Person id:0004210[http] name:_Nicholas Korda_>,
  <Person id:0533657[http] name:_Bobby Mackston_>,
  <Person id:0539085[http] name:_Andy Malcolm_>,
  <Person id:0582467[http] name:_Mel Metcalfe_>,
  <Person id:0634190[http] name:_Rob Nokes_>,
  <Person id:0634934[http] name:_Judy Nord_>,
  <Person id:0669617[http] name:_Fred Peck III_>,
  <Person id:0692310[http] name:_Terry Porter_>,
  <Person id:0728809[http] name:_Susan Ritter_>,
  <Person id:0750707[http] name:_Sean Rush_>,
  <Person id:0800119[http] name:_Ed Simon_>,
  <Person id:0867123[http] name:_Renee Tondelli_>,
  <Person id:0958711[http] name:_Dean A. Zupancic_>,
  <Person id:0187329[http] name:_Jeannette Cremarosa_>],
 'special effects': [<Person id:0227907[http] name:_David Dion_>,
  <Person id:0227912[http] name:_Dennis Dion_>],
 'visual effects': [<Person id:0421117[http] name:_Brian Jennings_>,
  <Person id:0550408[http] name:_Ken Marschall_>,
  <Person id:0764954[http] name:_Olivier Sarda_>,
  <Person id:0782700[http] name:_Craig Seitz_>],
 'stunt performer': [<Person id:0102334[http] name:_Shelley S. Boyle_>,
  <Person id:0123594[http] name:_Heather Burton_>,
  <Person id:0419445[http] name:_Robert Jauregui_>,
  <Person id:0466979[http] name:_Kim Robert Koscki_>,
  <Person id:0621513[http] name:_Boone Narr_>,
  <Person id:0798795[http] name:_Spike Silver_>,
  <Person id:0402677[http] name:_Jennifer Watson-Johnston_>],
 'camera and electrical department': [<Person id:1064134[http] name:_John Bertram_>,
  <Person id:0087919[http] name:_Dustin Blauvelt_>,
  <Person id:0171255[http] name:_William Coleman_>,
  <Person id:0178149[http] name:_Jim Cooper_>,
  <Person id:0224795[http] name:_David E. Diano_>,
  <Person id:0242138[http] name:_Wayne L. Duncan_>,
  <Person id:0256499[http] name:_David Emmerichs_>,
  <Person id:0330449[http] name:_Melinda Sue Gordon_>,
  <Person id:0341447[http] name:_Bob Griffith_>,
  <Person id:0365242[http] name:_Rick Harris_>,
  <Person id:0405194[http] name:_Myron Hyman_>,
  <Person id:0441669[http] name:_David Katz_>,
  <Person id:0004561[http] name:_Al LaVerde_>,
  <Person id:0518354[http] name:_Chris Lombardi_>,
  <Person id:0614013[http] name:_J. Michael Muro_>,
  <Person id:0672367[http] name:_Doug Pentek_>,
  <Person id:0694334[http] name:_Thomas P. Powell_>,
  <Person id:0730793[http] name:_Bill H. Roberts Jr._>,
  <Person id:0837265[http] name:_Ty Suehiro_>,
  <Person id:0872505[http] name:_Renee Treyball_>,
  <Person id:0933206[http] name:_Clay H. Wilson_>,
  <Person id:0956093[http] name:_Elizabeth Ziegler_>,
  <Person id:0147064[http] name:_Paul Caven_>,
  <Person id:0269217[http] name:_Greg Fausak_>,
  <Person id:0403184[http] name:_Jay M. Huntoon_>,
  <Person id:0462243[http] name:_Ronald R. Koch Jr._>,
  <Person id:0475093[http] name:_Ron Kunecke_>,
  <Person id:0726454[http] name:_Dan Riffel_>,
  <Person id:0864251[http] name:_Henry Tirl_>],
 'casting department': [<Person id:0364456[http] name:_Barbara Harris_>,
  <Person id:2120726[http] name:_Emily Miller_>],
 'costume department': [<Person id:0030719[http] name:_Melissa Antablin_>,
  <Person id:0294986[http] name:_Alix Friedberg_>,
  <Person id:0569186[http] name:_Elaine McGhee_>,
  <Person id:0627938[http] name:_Scott Newkirk_>,
  <Person id:0656143[http] name:_David Page_>,
  <Person id:0774810[http] name:_Dennis Schoonderwoerd_>,
  <Person id:0833453[http] name:_Heidi Odum Strasburg_>,
  <Person id:0871378[http] name:_Debbie Travis_>,
  <Person id:0935000[http] name:_Gina Wingate_>],
 'location management': [<Person id:0198000[http] name:_Rick Dallago_>,
  <Person id:0505966[http] name:_Steven D. Levine_>],
 'music department': [<Person id:0214010[http] name:_Sandy DeCrescent_>,
  <Person id:0396734[http] name:_Phyllis Housen_>,
  <Person id:0416926[http] name:_Sidney James_>,
  <Person id:0090798[http] name:_Edie Lehmann Boddicker_>,
  <Person id:0500011[http] name:_Mitchell Leib_>,
  <Person id:0556577[http] name:_Allan Mason_>,
  <Person id:0743919[http] name:_William Ross_>,
  <Person id:0762304[http] name:_Dennis S. Sands_>,
  <Person id:0006913[http] name:_Andrew Silver_>,
  <Person id:1320289[http] name:_Sebastian Toettcher_>,
  <Person id:2036352[http] name:_Tom Boyd_>,
  <Person id:11492285[http] name:_Tom Brown_>,
  <Person id:0324950[http] name:_Daniel Gold_>,
  <Person id:5543467[http] name:_Jim Hoffman_>,
  <Person id:2482917[http] name:_Tommy Johnson_>,
  <Person id:0439741[http] name:_Kenneth Karman_>,
  <Person id:0828755[http] name:_Sally Stevens_>,
  <Person id:0857125[http] name:_James Thatcher_>,
  <Person id:1320320[http] name:_Louise Di Tullio_>,
  <Person id:2597476[http] name:_Matt Walker_>],
 'script department': [<Person id:0017656[http] name:_Adell Aldrich_>,
  <Person id:0107471[http] name:_Faye Brenner_>,
  <Person id:0628368[http] name:_Kathleen Newport_>],
 'transportation department': [<Person id:0490232[http] name:_Stephen A. Latina_>,
  <Person id:0859593[http] name:_Tom F. Thomas_>],
 'miscellaneous crew': [<Person id:0029416[http] name:_Dave Ange_>,
  <Person id:0056308[http] name:_Roshanna Baron_>,
  <Person id:0145690[http] name:_Ronald Castro_>,
  <Person id:0166596[http] name:_Almarie Clifford_>,
  <Person id:0166933[http] name:_Patricia Clinton_>,
  <Person id:0245798[http] name:_Victoria Dyer_>,
  <Person id:0258773[http] name:_Terry J. Erdmann_>,
  <Person id:0262455[http] name:_Peter Evangelatos_>,
  <Person id:0304613[http] name:_Danielle Gantner_>,
  <Person id:0321496[http] name:_Cynthia Gizzarelli_>,
  <Person id:0323183[http] name:_Titus Glover_>,
  <Person id:0326291[http] name:_Monica Goldstein_>,
  <Person id:0391996[http] name:_Peggy Holmes_>,
  <Person id:0414828[http] name:_Eric Jacobson_>,
  <Person id:0546792[http] name:_Jody Margolis_>,
  <Person id:0564014[http] name:_Connie McAloney_>,
  <Person id:0619209[http] name:_Kathleen Nagata_>,
  <Person id:0628180[http] name:_Liz Newman_>,
  <Person id:0635407[http] name:_Jinny Norling_>,
  <Person id:0660607[http] name:_John Pappas_>,
  <Person id:0730141[http] name:_Bob Roath_>,
  <Person id:0753139[http] name:_Rob Ryder_>,
  <Person id:0816579[http] name:_Maria Spaeth_>,
  <Person id:0907695[http] name:_Donald H. Walker_>,
  <Person id:0916757[http] name:_Shawn Weber_>,
  <Person id:0021621[http] name:_David Allsberry_>,
  <Person id:0105915[http] name:_Ursula Brauner_>,
  <Person id:1072115[http] name:_Angela Kay Churchill_>,
  <Person id:3045977[http] name:_Alice M. Hart_>,
  <Person id:0569545[http] name:_Alta P. McGovern_>,
  <Person id:0846581[http] name:_Paul Taglianetti_>],
 'akas': ['Le père de la mariée II (France)',
  'Ein Geschenk des Himmels - Vater der Braut 2 (Germany)',
  'Vuelve el padre de la novia (Ahora también abuelo) (Spain)',
  '新岳父大人2 (China, Mandarin title)',
  'Otac neveste 2 (Serbia)'],
 'production companies': [<Company id:0049348[http] name:_Touchstone Pictures_>,
  <Company id:0005929[http] name:_Sandollar Productions_>,
  <Company id:0019819[http] name:_Taylor-Made Productions_>,
  <Company id:0057284[http] name:_The Meyers/Shyer Company_>],
 'distributors': [<Company id:0044279[http] name:_Buena Vista Pictures_>,
  <Company id:0000779[http] name:_Buena Vista International_>,
  <Company id:0080682[http] name:_Laurenfilm_>,
  <Company id:0000779[http] name:_Buena Vista International_>,
  <Company id:0000779[http] name:_Buena Vista International_>,
  <Company id:0000779[http] name:_Buena Vista International_>,
  <Company id:0015327[http] name:_Kommunenes Filmcentral (KF)_>,
  <Company id:0020389[http] name:_Prooptiki_>,
  <Company id:0006126[http] name:_Audio Visual Enterprises_>,
  <Company id:0044350[http] name:_Gativideo_>,
  <Company id:0000779[http] name:_Buena Vista International_>,
  <Company id:0037052[http] name:_American Broadcasting Company (ABC)_>,
  <Company id:0040374[http] name:_Falcon_>,
  <Company id:0843170[http] name:_Asia Business Broadcasting_>,
  <Company id:0569809[http] name:_Moviemax Family_>,
  <Company id:0588627[http] name:_STAR India_>,
  <Company id:0477440[http] name:_Touchstone Home Entertainment_>,
  <Company id:0117434[http] name:_Divisa Home Video_>,
  <Company id:0234496[http] name:_BBC Two_>,
  <Company id:0022105[http] name:_Disney Channel_>,
  <Company id:0721120[http] name:_Disney+_>,
  <Company id:0776428[http] name:_7flix_>],
 'special effects companies': [<Company id:0040822[http] name:_Lebensfeld Productions_>,
  <Company id:0016204[http] name:_Matte Effects_>,
  <Company id:0045815[http] name:_Todd-AO Digital Images_>],
 'other companies': [<Company id:0296111[http] name:_Direct Tools & Fasteners_>,
  <Company id:0090850[http] name:_Disney Television Studios_>,
  <Company id:0049664[http] name:_Hollywood Records_>,
  <Company id:0109739[http] name:_Sabron Payroll Services_>]}

In [44]:
box_office = movie_info.get('director')
test = movie_info.get('runtimes')
test

['106']

In [45]:
results = ia.search_movie('Avater')
# Get the first result
movie = results[0]
movie

In [46]:
import pandas as pd
import re

# Loop through each row in the DataFrame
def fill_unknown_rows(new_movies_df):
    if 'director' not in new_movies_df.columns:
        new_movies_df['director'] = None
    if 'cast' not in new_movies_df.columns:
        new_movies_df['cast'] = None

    # Create a list to store the rows that need to be updated
    rows_to_update = []

    for i, row in new_movies_df.iterrows():
        # Check if any values are missing or if budget/revenue is zero
        if row.isnull().any() or row['budget'] == 0 or row['revenue'] == 0:
            # If so, get the IMDB info for that movie
            try:
              imdb_id = re.sub('^tt', '', row['imdb_id']) # Remove 'tt' prefix
              imdb_info = get_imdb_movie_info(imdb_id)
              # Append the row index and IMDB info to the list
              rows_to_update.append((i, imdb_info))
            except:
              pass

    # Update the DataFrame with the new info for the selected rows
    for row_index, imdb_info in rows_to_update:
        row = new_movies_df.loc[row_index]
        actor_list = imdb_info.get('cast')
        actor_names = [person['name'] for person in actor_list[:5]]

        new_movies_df.at[row_index, 'original_title'] = imdb_info.get('original title')
        new_movies_df.at[row_index, 'budget'] = imdb_info.get('box office', {}).get('Budget')
        new_movies_df.at[row_index, 'revenue'] = imdb_info.get('box office', {}).get('Cumulative Worldwide Gross')
        new_movies_df.at[row_index, 'director'] = imdb_info.get('director', [{}])[0].get('name')
        new_movies_df.at[row_index, 'rating'] = imdb_info.get('rating')
        new_movies_df.at[row_index, 'genres'] = imdb_info.get('genres')[0]
        new_movies_df.at[row_index, 'cast'] = actor_names
        new_movies_df.at[row_index, 'vote_count'] = imdb_info.get('votes')
        new_movies_df.at[row_index, 'runtimes'] = imdb_info.get('runtimes')

    return new_movies_df

In [47]:
new_movies_df.isnull().sum()

adult                     0
backdrop_path             0
belongs_to_collection    15
budget                    0
genres                    0
homepage                  0
id                        0
imdb_id                   0
original_language         0
original_title            0
overview                  0
popularity                0
poster_path               0
production_companies      0
production_countries      0
release_date              0
revenue                   0
runtime                   0
spoken_languages          0
status                    0
tagline                   0
title                     0
video                     0
vote_average              0
vote_count                0
dtype: int64

In [48]:
new_movies_df_filled=fill_unknown_rows(new_movies_df)
new_movies_df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  20 non-null     bool
 1   backdrop_path          20 non-null     object
 2   belongs_to_collection  5 non-null      object
 3   budget                 10 non-null     object
 4   genres                 20 non-null     object
 5   homepage               20 non-null     object
 6   id                     20 non-null     int64
 7   imdb_id                20 non-null     object
 8   original_language      20 non-null     object
 9   original_title         20 non-null     object
 10  overview               20 non-null     object
 11  popularity             20 non-null     float64
 12  poster_path            20 non-null     object
 13  production_companies   20 non-null     object
 14  production_countries   20 non-null     object
 15  release_date           20 non-null     object
 16  revenue                0 non-null      float64
 17  runtime                20 non-null     int64
 18  spoken_languages       20 non-null     object
 19  status                 20 non-null     object
 20  tagline                20 non-null     object
 21  title                  20 non-null     object
 22  video                  20 non-null     bool
 23  vote_average           20 non-null     float64
 24  vote_count             20 non-null     int64
 25  director               20 non-null     object
 26  cast                   20 non-null     object
 27  rating                 20 non-null     float64
 28  runtimes               19 non-null     object
dtypes: bool(2), float64(4), int64(3), object(20)
memory usage: 4.4+ KB

In [49]:
new_movies_df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  20 non-null     bool
 1   backdrop_path          20 non-null     object
 2   belongs_to_collection  5 non-null      object
 3   budget                 10 non-null     object
 4   genres                 20 non-null     object
 5   homepage               20 non-null     object
 6   id                     20 non-null     int64
 7   imdb_id                20 non-null     object
 8   original_language      20 non-null     object
 9   original_title         20 non-null     object
 10  overview               20 non-null     object
 11  popularity             20 non-null     float64
 12  poster_path            20 non-null     object
 13  production_companies   20 non-null     object
 14  production_countries   20 non-null     object
 15  release_date           20 non-null     object
 16  revenue                0 non-null      float64
 17  runtime                20 non-null     int64
 18  spoken_languages       20 non-null     object
 19  status                 20 non-null     object
 20  tagline                20 non-null     object
 21  title                  20 non-null     object
 22  video                  20 non-null     bool
 23  vote_average           20 non-null     float64
 24  vote_count             20 non-null     int64
 25  director               20 non-null     object
 26  cast                   20 non-null     object
 27  rating                 20 non-null     float64
 28  runtimes               19 non-null     object
dtypes: bool(2), float64(4), int64(3), object(20)
memory usage: 4.4+ KB

In [50]:
import pandas as pd
import ast

# Load the two datasets from the old kaggle
movies_file = "movie_data/movies_metadata.csv"
credits_file = "movie_data/credits.csv"

df_movies = pd.read_csv(movies_file, dtype={'id': 'object'})
df_credits = pd.read_csv(credits_file, dtype={'id': 'object', 'cast': 'object', 'crew': 'str'})

# Merge the two datasets on "id"
df_merged = pd.merge(df_movies, df_credits, on='id')

# Define a function to extract the directors
def get_directors(crew_list):
    directors = []
    for crew_member in ast.literal_eval(crew_list):
        if crew_member['job'] == 'Director':
            directors.append(crew_member['name'])
    return directors

# Define a function to extract the cast
def get_cast(cast_list):
    cast = []
    for cast_member in ast.literal_eval(cast_list):
        cast.append(cast_member['name'])
    return cast

# Apply the functions to extract the directors and cast
df_merged['director'] = df_merged['crew'].apply(get_directors)
df_merged['cast'] = df_merged['cast'].apply(get_cast)
df_merged = df_merged.drop('crew', axis=1)

<ipython-input-50-a7a9d2270b07>:8: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv(movies_file, dtype={'id': 'object'})

In [51]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45538 entries, 0 to 45537
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45538 non-null  object
 1   belongs_to_collection  4500 non-null   object
 2   budget                 45538 non-null  object
 3   genres                 45538 non-null  object
 4   homepage               7792 non-null   object
 5   id                     45538 non-null  object
 6   imdb_id                45521 non-null  object
 7   original_language      45527 non-null  object
 8   original_title         45538 non-null  object
 9   overview               44584 non-null  object
 10  popularity             45535 non-null  object
 11  poster_path            45152 non-null  object
 12  production_companies   45535 non-null  object
 13  production_countries   45535 non-null  object
 14  release_date           45451 non-null  object
 15  revenue                45535 non-null  float64
 16  runtime                45278 non-null  float64
 17  spoken_languages       45535 non-null  object
 18  status                 45454 non-null  object
 19  tagline                20439 non-null  object
 20  title                  45535 non-null  object
 21  video                  45535 non-null  object
 22  vote_average           45535 non-null  float64
 23  vote_count             45535 non-null  float64
 24  cast                   45538 non-null  object
 25  director               45538 non-null  object
dtypes: float64(4), object(22)
memory usage: 9.4+ MB

In [52]:
import pandas as pd

df_movies_tmdb = pd.read_csv("movie_data/movies_with_directors.csv", dtype={'id': 'object'})
df_movies_tmdb = df_movies_tmdb[['id', 'title', 'release_date', 'budget', 'revenue', 'credits', 'director']]
df_movies_tmdb = df_movies_tmdb.rename(columns={
    'title': 'original_title',
    'credits': 'cast'
})

more_movies_file = "movie_data/movies.csv"
df_movies_larger = pd.read_csv(more_movies_file, dtype={'id': 'object'})

# Merge the 'director' column from df_movies_tmdb into df_movies_larger based on 'id'
df_movies_larger = df_movies_larger.merge(df_movies_tmdb[['id', 'director']], on='id', how='left')
df_movies_larger = df_movies_larger.rename(columns={
    'title': 'original_title',
    'credits': 'cast'
})
# Print the updated dataframe
df_movies_larger

,id,original_title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,...,status,tagline,vote_average,vote_count,cast,keywords,poster_path,backdrop_path,recommendations,director
0,677179,Creed III,Drama-Action,en,After dominating the boxing world Adonis Creed...,9575.225,Metro-Goldwyn-Mayer-Proximity Media-Balboa Pro...,2023-03-01,75000000.0,2.580000e+08,...,Released,You can't run from your past.,7.305,845.0,Michael B. Jordan-Tessa Thompson-Jonathan Majo...,philadelphia pennsylvania-husband wife relatio...,/vJU3rXSP9hwUuLeq8IpfsJShLOk.jpg,/5i6SjyDbDWqyun8klUuCxrlFbyw.jpg,965839-267805-943822-842942-1035806-823999-107...,Michael B. Jordan
1,76600,Avatar: The Way of Water,Science Fiction-Adventure-Action,en,Set more than a decade after the events of the...,9366.788,20th Century Studios-Lightstorm Entertainment,2022-12-14,350000000.0,2.312336e+09,...,Released,Return to Pandora.,7.751,6748.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-S...,loss of loved one-dying and death-alien life-f...,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,/s16H6tpK2utvwDtzZ8Qy4qm5Emw.jpg,183392-111332-702432-505642-1064215-436270-874...,James Cameron
2,502356,The Super Mario Bros. Movie,Animation-Adventure-Family-Fantasy-Comedy,en,While working underground to fix a water main ...,5132.098,Universal Pictures-Illumination-Nintendo,2023-04-05,100000000.0,5.800000e+07,...,Released,NaN,7.556,332.0,Chris Pratt-Anya Taylor-Joy-Charlie Day-Jack B...,video game-plumber-magic mushroom-based on vid...,/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg,/iw0Na1UBHgA5BgifwmQ8vKhlWgA.jpg,NaN,Michael Jelenic
3,631842,Knock at the Cabin,Horror-Mystery-Thriller,en,While vacationing at a remote cabin a young gi...,3422.537,Blinding Edge Pictures-Universal Pictures-Film...,2023-02-01,20000000.0,5.200000e+07,...,Released,Save your family or save humanity. Make the ch...,6.457,888.0,Dave Bautista-Jonathan Groff-Ben Aldridge-Kris...,based on novel or book-sacrifice-cabin-faith-e...,/dm06L9pxDOL9jNSK4Cb6y139rrG.jpg,/zWDMQX0sPaW2u0N2pJaYA8bVVaJ.jpg,1058949-646389-772515-505642-143970-667216-104...,M. Night Shyamalan
4,646389,Plane,Action-Adventure-Thriller,en,After a heroic job of successfully landing his...,2618.646,MadRiver Pictures-Di Bonaventura Pictures-G-BA...,2023-01-12,25000000.0,5.100000e+07,...,Released,Survive together or die alone.,6.901,785.0,Gerard Butler-Mike Colter-Yoson An-Tony Goldwy...,pilot-airplane-philippines-held hostage-plane ...,/qi9r5xBgcc9KTxlOLjssEbDgO0J.jpg,/9Rq14Eyrf7Tu1xk0Pl7VcNbNh1n.jpg,505642-758769-864692-631842-1058949-925943-758...,Jean-François Richet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855565,887860,拯救校花计划,Drama,zh,NaN,0.600,NaN,2017-12-02,0.0,0.000000e+00,...,Released,NaN,0.000,0.0,NaN,NaN,/2LXG2Zhp2diqM0qLNzhZ4zbQvof.jpg,/cE4gpxY3OASBGPpv0fQqHWL4dMd.jpg,NaN,NaN
855566,886714,Oberhausen 34. Kurzfilmtage,NaN,de,01.04.1988,0.600,NaN,1988-04-01,0.0,0.000000e+00,...,Released,NaN,0.000,0.0,NaN,NaN,/yevFfrQxkwJwMMhEJqDrJKgXFp.jpg,NaN,NaN,Schmelzdahin
855567,774222,Hader fürs Heim,NaN,de,Josef Hader's first television broadcast a mix...,0.600,NaN,1991-01-01,0.0,0.000000e+00,...,Released,NaN,0.000,0.0,Josef Hader-Maria Hofstätter-Alfred Dorfer,NaN,/hBupAGQkT1yPdwZUXcxksxUsGkr.jpg,NaN,NaN,NaN
855568,832174,Into The Light : A Trip Through Baltimore Ball...,NaN,en,A not-so-Cinderella-story of LGBTQ+ Baltimore ...,0.600,NaN,2021-05-21,0.0,0.000000e+00,...,Released,NaN,0.000,0.0,Keith Holt-Londyn Smith de Richelieu-Marquis C...,NaN,/h3gUEQ2CLMdbv95l5Sxd2VDG0Bx.jpg,NaN,NaN,Jason Gray
855569,968161,Gising Sining,NaN,tl,In a country where fascism foolishness of peop...,0.600,Studio RD,NaN,0.0,0.000000e+00,...,Released,NaN,0.000,0.0,Ruka Azuma-Mel Perez,NaN,/jv34KgS7D997H5kbVYxKLJRScg.jpg,NaN,NaN,Mel Perez

In [53]:
df_movies_larger.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 855570 entries, 0 to 855569
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    855570 non-null  object
 1   original_title        855566 non-null  object
 2   genres                620773 non-null  object
 3   original_language     855570 non-null  object
 4   overview              721075 non-null  object
 5   popularity            855570 non-null  float64
 6   production_companies  411577 non-null  object
 7   release_date          799735 non-null  object
 8   budget                855570 non-null  float64
 9   revenue               855570 non-null  float64
 10  runtime               816628 non-null  float64
 11  status                855570 non-null  object
 12  tagline               131167 non-null  object
 13  vote_average          855570 non-null  float64
 14  vote_count            855570 non-null  float64
 15  cast                  609641 non-null  object
 16  keywords              255838 non-null  object
 17  poster_path           652876 non-null  object
 18  backdrop_path         277089 non-null  object
 19  recommendations       40457 non-null   object
 20  director              710271 non-null  object
dtypes: float64(6), object(15)
memory usage: 143.6+ MB

In [54]:
merged_df = pd.merge(df_merged, df_movies_larger, on='id', how='outer')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 859677 entries, 0 to 859676
Data columns (total 46 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   adult                   51657 non-null   object
 1   belongs_to_collection   4626 non-null    object
 2   budget_x                51657 non-null   object
 3   genres_x                51657 non-null   object
 4   homepage                9324 non-null    object
 5   id                      859677 non-null  object
 6   imdb_id                 51640 non-null   object
 7   original_language_x     51643 non-null   object
 8   original_title_x        51657 non-null   object
 9   overview_x              50483 non-null   object
 10  popularity_x            51654 non-null   object
 11  poster_path_x           51161 non-null   object
 12  production_companies_x  51654 non-null   object
 13  production_countries    51654 non-null   object
 14  release_date_x          51550 non-null   object
 15  revenue_x               51654 non-null   float64
 16  runtime_x               51291 non-null   float64
 17  spoken_languages        51654 non-null   object
 18  status_x                51573 non-null   object
 19  tagline_x               22265 non-null   object
 20  title                   51654 non-null   object
 21  video                   51654 non-null   object
 22  vote_average_x          51654 non-null   float64
 23  vote_count_x            51654 non-null   float64
 24  cast_x                  51657 non-null   object
 25  director_x              51657 non-null   object
 26  original_title_y        855702 non-null  object
 27  genres_y                620909 non-null  object
 28  original_language_y     855706 non-null  object
 29  overview_y              721211 non-null  object
 30  popularity_y            855706 non-null  float64
 31  production_companies_y  411699 non-null  object
 32  release_date_y          799871 non-null  object
 33  budget_y                855706 non-null  float64
 34  revenue_y               855706 non-null  float64
 35  runtime_y               816764 non-null  float64
 36  status_y                855706 non-null  object
 37  tagline_y               131239 non-null  object
 38  vote_average_y          855706 non-null  float64
 39  vote_count_y            855706 non-null  float64
 40  cast_y                  609775 non-null  object
 41  keywords                255914 non-null  object
 42  poster_path_y           653012 non-null  object
 43  backdrop_path           277217 non-null  object
 44  recommendations         40532 non-null   object
 45  director_y              710407 non-null  object
dtypes: float64(10), object(36)
memory usage: 308.3+ MB

In [55]:
columns_to_merge = ['belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language',
                    'original_title', 'overview', 'popularity', 'poster_path', 'production_companies',
                    'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
                    'tagline', 'video', 'vote_average', 'vote_count', 'cast', 'director']

for column in columns_to_merge:
    x_column = f"{column}_x"
    y_column = f"{column}_y"

    if x_column in merged_df.columns and y_column in merged_df.columns:
        merged_df[column] = merged_df[y_column].combine_first(merged_df[x_column])
        merged_df = merged_df.drop(columns=[x_column, y_column])
    elif x_column in merged_df.columns:
        merged_df = merged_df.rename(columns={x_column: column})
    elif y_column in merged_df.columns:
        merged_df = merged_df.rename(columns={y_column: column})

In [56]:
merged_df

,adult,belongs_to_collection,homepage,id,imdb_id,production_countries,spoken_languages,title,video,keywords,...,production_companies,release_date,revenue,runtime,status,tagline,vote_average,vote_count,cast,director
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",http://toystory.disney.com/toy-story,862,tt0114709,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,False,martial arts-jealousy-friendship-bullying-elem...,...,Pixar,1995-10-30,373554033.0,81.0,Released,NaN,7.966,16430.0,Tom Hanks-Tim Allen-Don Rickles-Jim Varney-Wal...,John Lasseter
1,False,NaN,NaN,8844,tt0113497,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,False,giant insect-board game-jungle-disappearance-r...,...,TriStar Pictures-PolyGram Filmed Entertainment...,1995-12-15,262821940.0,104.0,Released,Roll the dice and unleash the excitement!,7.237,9437.0,Robin Williams-Kirsten Dunst-Bradley Pierce-Bo...,Joe Johnston
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,15602,tt0113228,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,False,fishing-halloween-sequel-old man-best friend-w...,...,Lancaster Gate-Warner Bros. Pictures,1995-12-22,71500000.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,6.500,324.0,Walter Matthau-Jack Lemmon-Ann-Margret-Sophia ...,Howard Deutch
3,False,NaN,NaN,31357,tt0114885,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,False,based on novel or book-interracial relationshi...,...,20th Century Fox,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,6.300,128.0,Whitney Houston-Angela Bassett-Loretta Devine-...,Forest Whitaker
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,11862,tt0113041,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,False,parent child relationship-baby-midlife crisis-...,...,Sandollar Productions-Touchstone Pictures,1995-12-08,76594107.0,106.0,Released,Just When His World Is Back To Normal... He's ...,6.200,626.0,Steve Martin-Diane Keaton-Martin Short-Kimberl...,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859672,NaN,NaN,NaN,887860,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-12-02,0.0,0.0,Released,NaN,0.000,0.0,NaN,NaN
859673,NaN,NaN,NaN,886714,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1988-04-01,0.0,3.0,Released,NaN,0.000,0.0,NaN,Schmelzdahin
859674,NaN,NaN,NaN,774222,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1991-01-01,0.0,40.0,Released,NaN,0.000,0.0,Josef Hader-Maria Hofstätter-Alfred Dorfer,NaN
859675,NaN,NaN,NaN,832174,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2021-05-21,0.0,25.0,Released,NaN,0.000,0.0,Keith Holt-Londyn Smith de Richelieu-Marquis C...,Jason Gray
859676,NaN,NaN,NaN,968161,NaN,NaN,NaN,NaN,NaN,NaN,...,Studio RD,NaN,0.0,19.0,Released,NaN,0.000,0.0,Ruka Azuma-Mel Perez,Mel Perez

In [57]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 859677 entries, 0 to 859676
Data columns (total 29 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   adult                  51657 non-null   object
 1   belongs_to_collection  4626 non-null    object
 2   homepage               9324 non-null    object
 3   id                     859677 non-null  object
 4   imdb_id                51640 non-null   object
 5   production_countries   51654 non-null   object
 6   spoken_languages       51654 non-null   object
 7   title                  51654 non-null   object
 8   video                  51654 non-null   object
 9   keywords               255914 non-null  object
 10  backdrop_path          277217 non-null  object
 11  recommendations        40532 non-null   object
 12  budget                 859677 non-null  object
 13  genres                 625538 non-null  object
 14  original_language      859677 non-null  object
 15  original_title         859673 non-null  object
 16  overview               725000 non-null  object
 17  popularity             859677 non-null  object
 18  poster_path            657963 non-null  object
 19  production_companies   422346 non-null  object
 20  release_date           803819 non-null  object
 21  revenue                859677 non-null  float64
 22  runtime                820726 non-null  float64
 23  status                 859628 non-null  object
 24  tagline                132550 non-null  object
 25  vote_average           859677 non-null  float64
 26  vote_count             859677 non-null  float64
 27  cast                   615214 non-null  object
 28  director               714668 non-null  object
dtypes: float64(4), object(25)
memory usage: 196.8+ MB

In [58]:
merged_df_with_valid_box_office = merged_df[(merged_df['budget'].notnull()) & (merged_df['revenue'] >= 100)]
merged_df_with_valid_box_office

,adult,belongs_to_collection,homepage,id,imdb_id,production_countries,spoken_languages,title,video,keywords,...,production_companies,release_date,revenue,runtime,status,tagline,vote_average,vote_count,cast,director
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",http://toystory.disney.com/toy-story,862,tt0114709,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,False,martial arts-jealousy-friendship-bullying-elem...,...,Pixar,1995-10-30,373554033.0,81.0,Released,NaN,7.966,16430.0,Tom Hanks-Tim Allen-Don Rickles-Jim Varney-Wal...,John Lasseter
1,False,NaN,NaN,8844,tt0113497,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,False,giant insect-board game-jungle-disappearance-r...,...,TriStar Pictures-PolyGram Filmed Entertainment...,1995-12-15,262821940.0,104.0,Released,Roll the dice and unleash the excitement!,7.237,9437.0,Robin Williams-Kirsten Dunst-Bradley Pierce-Bo...,Joe Johnston
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,15602,tt0113228,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,False,fishing-halloween-sequel-old man-best friend-w...,...,Lancaster Gate-Warner Bros. Pictures,1995-12-22,71500000.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,6.500,324.0,Walter Matthau-Jack Lemmon-Ann-Margret-Sophia ...,Howard Deutch
3,False,NaN,NaN,31357,tt0114885,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,False,based on novel or book-interracial relationshi...,...,20th Century Fox,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,6.300,128.0,Whitney Houston-Angela Bassett-Loretta Devine-...,Forest Whitaker
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,11862,tt0113041,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,False,parent child relationship-baby-midlife crisis-...,...,Sandollar Productions-Touchstone Pictures,1995-12-08,76594107.0,106.0,Released,Just When His World Is Back To Normal... He's ...,6.200,626.0,Steve Martin-Diane Keaton-Martin Short-Kimberl...,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857900,NaN,NaN,NaN,791261,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50000000.0,124.0,Released,Boring.,0.000,0.0,NaN,NaN
858502,NaN,NaN,NaN,783065,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,150.0,0.0,Released,NaN,0.000,0.0,NaN,NaN
858622,NaN,NaN,NaN,757237,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2018-02-13,500.0,0.0,Released,Russell and Sarah are faced with what to do af...,0.000,0.0,NaN,NaN
858829,NaN,NaN,NaN,830358,NaN,NaN,NaN,NaN,NaN,trauma-turkey-based on true story-nature run a...,...,NaN,2016-04-01,720.0,2.0,Released,"« Je criais: ""Y'a une bibitte noire dans le sa...",10.000,1.0,NaN,NaN
858879,NaN,NaN,NaN,758247,NaN,NaN,NaN,NaN,NaN,educational,...,MD Arts Productions Co.,2019-04-25,1000.0,4.0,Released,Voting is not a right it's a responsibility.,0.000,0.0,Ashish Dubey-Ravi Jadhav-Rajesh sharma-Nirmal ...,Mahi Dubey

In [59]:
merged_df_with_valid_box_office['Top Cast'] = ''

for index, row in merged_df_with_valid_box_office.iterrows():
    try:
        cast_names = row['cast'].split('-')
    except:
        cast_names = row['cast']
    if cast_names is not None and isinstance(cast_names, list) and len(cast_names) > 0:
        top_cast_names = cast_names[:5]
        merged_df_with_valid_box_office.at[index, 'Top Cast'] = top_cast_names

<ipython-input-59-9d43fcc56a00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_with_valid_box_office['Top Cast'] = ''

In [60]:
merged_df_with_valid_box_office['id']

0            862
1           8844
2          15602
3          31357
4          11862
           ...
857900    791261
858502    783065
858622    757237
858829    830358
858879    758247
Name: id, Length: 17716, dtype: object

In [61]:
merged_df_with_valid_box_office

,adult,belongs_to_collection,homepage,id,imdb_id,production_countries,spoken_languages,title,video,keywords,...,release_date,revenue,runtime,status,tagline,vote_average,vote_count,cast,director,Top Cast
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",http://toystory.disney.com/toy-story,862,tt0114709,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,False,martial arts-jealousy-friendship-bullying-elem...,...,1995-10-30,373554033.0,81.0,Released,NaN,7.966,16430.0,Tom Hanks-Tim Allen-Don Rickles-Jim Varney-Wal...,John Lasseter,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,False,NaN,NaN,8844,tt0113497,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,False,giant insect-board game-jungle-disappearance-r...,...,1995-12-15,262821940.0,104.0,Released,Roll the dice and unleash the excitement!,7.237,9437.0,Robin Williams-Kirsten Dunst-Bradley Pierce-Bo...,Joe Johnston,"[Robin Williams, Kirsten Dunst, Bradley Pierce..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,15602,tt0113228,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,False,fishing-halloween-sequel-old man-best friend-w...,...,1995-12-22,71500000.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,6.500,324.0,Walter Matthau-Jack Lemmon-Ann-Margret-Sophia ...,Howard Deutch,"[Walter Matthau, Jack Lemmon, Ann, Margret, So..."
3,False,NaN,NaN,31357,tt0114885,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,False,based on novel or book-interracial relationshi...,...,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,6.300,128.0,Whitney Houston-Angela Bassett-Loretta Devine-...,Forest Whitaker,"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,11862,tt0113041,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,False,parent child relationship-baby-midlife crisis-...,...,1995-12-08,76594107.0,106.0,Released,Just When His World Is Back To Normal... He's ...,6.200,626.0,Steve Martin-Diane Keaton-Martin Short-Kimberl...,Charles Shyer,"[Steve Martin, Diane Keaton, Martin Short, Kim..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857900,NaN,NaN,NaN,791261,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50000000.0,124.0,Released,Boring.,0.000,0.0,NaN,NaN,
858502,NaN,NaN,NaN,783065,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,150.0,0.0,Released,NaN,0.000,0.0,NaN,NaN,
858622,NaN,NaN,NaN,757237,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-02-13,500.0,0.0,Released,Russell and Sarah are faced with what to do af...,0.000,0.0,NaN,NaN,
858829,NaN,NaN,NaN,830358,NaN,NaN,NaN,NaN,NaN,trauma-turkey-based on true story-nature run a...,...,2016-04-01,720.0,2.0,Released,"« Je criais: ""Y'a une bibitte noire dans le sa...",10.000,1.0,NaN,NaN,
858879,NaN,NaN,NaN,758247,NaN,NaN,NaN,NaN,NaN,educational,...,2019-04-25,1000.0,4.0,Released,Voting is not a right it's a responsibility.,0.000,0.0,Ashish Dubey-Ravi Jadhav-Rajesh sharma-Nirmal ...,Mahi Dubey,"[Ashish Dubey, Ravi Jadhav, Rajesh sharma, Nir..."

In [62]:
unique_cast_count = merged_df_with_valid_box_office['Top Cast'].explode().nunique()
unique_cast_count

32238

In [63]:
# merged_df_with_valid_box_office_filled=fill_unknown_rows(merged_df_with_valid_box_office)

In [64]:
# merged_df_with_valid_box_office_filled

In [65]:
new_movies_df_filled['id'] = new_movies_df_filled['id'].astype(str)
# Check if ID already exists in merged_df_with_valid_box_office
existing_ids = merged_df_with_valid_box_office['id'].tolist()
new_movies_df_filled = new_movies_df_filled[~new_movies_df_filled['id'].isin(existing_ids)]

# Append new_movies_df_filled to merged_df_with_valid_box_office
merged_df_with_valid_box_office = pd.concat([merged_df_with_valid_box_office, new_movies_df_filled], ignore_index=True)
merged_df_with_valid_box_office.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  10222 non-null  object
 1   belongs_to_collection  1852 non-null   object
 2   homepage               2814 non-null   object
 3   id                     17727 non-null  object
 4   imdb_id                10222 non-null  object
 5   production_countries   10222 non-null  object
 6   spoken_languages       10222 non-null  object
 7   title                  10222 non-null  object
 8   video                  10222 non-null  object
 9   keywords               14022 non-null  object
 10  backdrop_path          15118 non-null  object
 11  recommendations        9988 non-null   object
 12  budget                 17719 non-null  object
 13  genres                 17159 non-null  object
 14  original_language      17727 non-null  object
 15  original_title         17727 non-null  object
 16  overview               17124 non-null  object
 17  popularity             17727 non-null  object
 18  poster_path            17149 non-null  object
 19  production_companies   16345 non-null  object
 20  release_date           17361 non-null  object
 21  revenue                17716 non-null  float64
 22  runtime                17659 non-null  float64
 23  status                 17727 non-null  object
 24  tagline                11450 non-null  object
 25  vote_average           17727 non-null  float64
 26  vote_count             17727 non-null  float64
 27  cast                   17245 non-null  object
 28  director               16741 non-null  object
 29  Top Cast               17716 non-null  object
 30  rating                 11 non-null     float64
 31  runtimes               10 non-null     object
dtypes: float64(5), object(27)
memory usage: 4.3+ MB

In [66]:
merged_df_with_valid_box_office

,adult,belongs_to_collection,homepage,id,imdb_id,production_countries,spoken_languages,title,video,keywords,...,runtime,status,tagline,vote_average,vote_count,cast,director,Top Cast,rating,runtimes
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",http://toystory.disney.com/toy-story,862,tt0114709,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,False,martial arts-jealousy-friendship-bullying-elem...,...,81.0,Released,NaN,7.966,16430.0,Tom Hanks-Tim Allen-Don Rickles-Jim Varney-Wal...,John Lasseter,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",NaN,NaN
1,False,NaN,NaN,8844,tt0113497,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,False,giant insect-board game-jungle-disappearance-r...,...,104.0,Released,Roll the dice and unleash the excitement!,7.237,9437.0,Robin Williams-Kirsten Dunst-Bradley Pierce-Bo...,Joe Johnston,"[Robin Williams, Kirsten Dunst, Bradley Pierce...",NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,15602,tt0113228,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,False,fishing-halloween-sequel-old man-best friend-w...,...,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,6.500,324.0,Walter Matthau-Jack Lemmon-Ann-Margret-Sophia ...,Howard Deutch,"[Walter Matthau, Jack Lemmon, Ann, Margret, So...",NaN,NaN
3,False,NaN,NaN,31357,tt0114885,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,False,based on novel or book-interracial relationshi...,...,127.0,Released,Friends are the people who let you be yourself...,6.300,128.0,Whitney Houston-Angela Bassett-Loretta Devine-...,Forest Whitaker,"[Whitney Houston, Angela Bassett, Loretta Devi...",NaN,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,11862,tt0113041,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,False,parent child relationship-baby-midlife crisis-...,...,106.0,Released,Just When His World Is Back To Normal... He's ...,6.200,626.0,Steve Martin-Diane Keaton-Martin Short-Kimberl...,Charles Shyer,"[Steve Martin, Diane Keaton, Martin Short, Kim...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17722,False,None,,983768,tt11696342,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'english_name': 'English', 'iso_639_1': 'en'...",Black Warrant,False,NaN,...,94.0,Released,Divided by a mission. United by blood.,5.368,338.0,"[Tom Berenger, Cam Gigandet, Jeff Fahey, Sara ...",Tibor Takács,NaN,4.5,[94]
17723,False,None,,840326,tt14846026,"[{'iso_3166_1': 'FI', 'name': 'Finland'}, {'is...","[{'english_name': 'English', 'iso_639_1': 'en'...",Sisu,False,NaN,...,91.0,Released,Vengeance is golden.,7.109,3170.0,"[Jorma Tommila, Aksel Hennie, Jack Doolan, Mim...",Jalmari Helander,NaN,7.4,[91]
17724,False,None,https://kotzmovie.com,455476,tt6528290,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...","[{'english_name': 'English', 'iso_639_1': 'en'...",Knights of the Zodiac,False,NaN,...,112.0,Released,Go beyond your destiny.,6.654,731.0,"[Sean Bean, Famke Janssen, Madison Iseman, Mar...",Tomasz Baginski,NaN,5.2,None
17725,False,None,,1101799,tt21736218,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]","[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Queens on the Run,False,NaN,...,96.0,Released,,7.118,555.0,"[Martha Higareda, Paola Núñez, Valeria Vera, C...",Jorge Macaya,NaN,4.5,[96]
17726,False,None,,1026563,tt21199996,"[{'iso_3166_1': 'ES', 'name': 'Spain'}]","[{'english_name': 'Spanish', 'iso_639_1': 'es'...",13 Exorcisms,False,NaN,...,100.0,Released,,5.460,349.0,"[María Romanillos, Ruth Díaz, Urko Olazabal, S...",Jacobo Martínez,NaN,4.3,[100]

In [67]:
merged_df_with_valid_box_office['genres'].tolist()

['Animation-Adventure-Family-Comedy',
 'Adventure-Fantasy-Family',
 'Romance-Comedy',
 'Comedy-Drama-Romance',
 'Comedy-Family',
 'Action-Crime-Drama-Thriller',
 'Comedy-Romance',
 'Family-Action-Adventure-Drama',
 'Action',
 'Adventure-Action-Thriller',
 'Comedy-Drama-Romance',
 'Comedy-Horror-Fantasy',
 'Family-Animation-Adventure',
 'Drama-History',
 'Action-Adventure',
 'Crime-Drama',
 'Drama-Romance',
 'Crime-Comedy',
 'Crime-Comedy-Adventure',
 'Action-Comedy-Crime',
 'Comedy-Thriller-Crime',
 'Thriller-Crime',
 'Action-Adventure-Crime-Thriller',
 'Drama-Fantasy-Science Fiction-Thriller',
 'Drama-Romance',
 'Comedy-Drama-Romance',
 'Fantasy-Science Fiction-Adventure',
 'Drama',
 'Science Fiction-Thriller-Mystery',
 'Fantasy-Drama-Comedy-Family',
 'Drama',
 'Adventure-History-Drama-Family',
 'Comedy-Family-Romance',
 'Comedy-Romance',
 'Drama',
 'Drama-War',
 'Action-Drama-Crime-War',
 'Action-Fantasy',
 'Drama-Comedy-Crime',
 'Drama-Romance',
 'Crime-Mystery-Thriller',
 'Adventure-Animation-Family-Romance',
 'Drama-Crime-Thriller',
 'Comedy-Romance',
 'Comedy-Drama-Romance',
 'Thriller-Crime',
 'Drama-Music-Family',
 'Comedy',
 'Comedy-Romance',
 'Comedy',
 'Science Fiction-Horror-Action-Thriller',
 'Comedy',
 'Horror-Action-Thriller-Crime',
 'Action',
 'Comedy-Drama-Romance',
 'Drama-Romance',
 'Comedy',
 'Horror-Science Fiction',
 'Thriller',
 'Drama-Crime',
 'Adventure-Action-Drama',
 'Comedy',
 'Thriller-Crime-Action',
 'Drama-Horror-Thriller-History',
 'Comedy-Horror-Romance',
 'Action',
 'Drama',
 'Comedy-Crime-Drama',
 'Comedy',
 'Drama-Romance',
 'Action-Comedy-Music-Family-Adventure-Romance',
 'Action-Drama-History-War',
 'Crime-Drama',
 'Crime-Action-Comedy-Thriller',
 'Drama-Thriller-Mystery',
 'Comedy-Romance',
 'Comedy-Drama',
 'Drama-Crime',
 'Comedy-Romance',
 'Comedy',
 'Thriller-Mystery',
 "[{'id': 35, 'name': 'Comedy'}]",
 'Comedy',
 'Action-Comedy-Crime-Thriller',
 'Adventure-Drama-Family',
 'Drama-Crime',
 'Romance-Drama-Comedy',
 'History-Drama-Adventure',
 'Adventure-History-Drama-Action-War',
 'Action-Crime-Fantasy',
 'Drama-Thriller',
 'Comedy',
 'Comedy',
 'Fantasy-Comedy-Family',
 'Mystery-Crime-Drama',
 'Action-Adventure-Science Fiction',
 'Thriller-Drama-Action',
 'Documentary',
 'Thriller-Action-Crime',
 'Thriller-Crime-Drama-Mystery',
 'Action-Thriller',
 'Action-Adventure-Drama-Romance',
 'Family-Adventure-Drama',
 'Action-Crime-Thriller-Drama',
 'Comedy-Drama-Romance',
 'Science Fiction-Thriller-Adventure-Action',
 'Science Fiction',
 'Comedy-Drama',
 'Drama-Crime',
 'Comedy',
 'Drama-Romance',
 'Romance-Comedy',
 'Action-Adventure-Science Fiction-Fantasy',
 'Comedy-Drama-Romance',
 'Crime-Drama-Mystery-Thriller-Action',
 'Romance-Comedy',
 'Comedy',
 'Horror-Fantasy-Thriller',
 'Drama-Romance-Western',
 'Drama',
 'Comedy-Drama',
 'Comedy-Drama',
 'Science Fiction-Horror-Action',
 'Crime-Drama-Science Fiction-Thriller',
 'Thriller',
 'Fantasy-Family-Drama',
 'Drama-Romance',
 'Comedy',
 'Action-Thriller',
 'Drama-Romance',
 'Adventure-Action-Science Fiction',
 'Western',
 'Drama',
 'Adventure-Family-Comedy-Action',
 'Drama',
 'Drama-War',
 'Drama-Romance',
 'Comedy',
 'Comedy-Drama',
 'Comedy',
 'Romance-Drama-Comedy',
 'Thriller-Drama-Crime',
 'Action-Thriller',
 'Comedy',
 'Comedy-Drama-Romance',
 'Drama-Mystery',
 'Comedy-Crime-Thriller',
 'Comedy-Drama-History',
 'Comedy-Romance',
 'Comedy-Drama-Romance',
 'Romance-Animation-Family-Comedy-Adventure',
 'Drama-Thriller-Horror',
 'Drama-Family-Fantasy',
 'Documentary',
 'Drama-Fantasy',
 'Comedy-Family',
 'Family-Comedy-Drama',
 'Action-Thriller',
 'Comedy-Drama-Romance',
 'Horror-Drama-Fantasy',
 'Drama-Romance-History',
 'Comedy-Family-Romance',
 'Crime-Thriller-Drama',
 'Adventure-Action-Science Fiction',
 'Drama-Romance',
 'Drama-Family-Fantasy',
 'Drama-Romance',
 'Adventure-Drama-Romance-War-Western',
 'Adventure-Comedy-Family',
 'Crime-Drama',
 'Drama-Romance',
 'Drama',
 'Comedy-Drama-History',
 'Drama-Horror-Science Fiction-Romance',
 'Comedy-Romance',
 'Fantasy-Drama-Family',
 'Crime-Drama',
 'Drama-Thriller',
 'Crime-Thriller-Drama',
 'Romance-Comedy',
 'Drama',
 'Action-Drama-Science Fiction-Thriller',
 'Crime-Drama-Action',
 'Comedy-Drama-Romance',
 'Comedy-Drama-Romance',
 'Thriller-Crime',
 'Drama',
 'Comedy-Drama',
 'Drama-Romance',
 'History-Drama-Mystery',
 'Drama-History-Romance',
 'Western-Action-Thriller',
 'Drama-Comedy',
 'Drama-Comedy',
 'Family-Animation-Fantasy-Adventure-Comedy',
 'Action-Thriller',
 'Action-Adventure-Science Fiction',
 'Fantasy-Drama-Comedy-Family',
 'Drama-Crime',
 'Drama-Thriller',
 'Comedy-Drama',
 'Crime-Comedy',
 'Action-Comedy-Science Fiction',
 'Horror-Comedy-Thriller',
 'Science Fiction-Action-Adventure-Thriller',
 'Horror-Crime-Thriller',
 'Thriller-Horror-Science Fiction',
 'Comedy',
 'Romance-Drama',
 'Action-Crime-Science Fiction-Thriller',
 'Romance-Comedy',
 'Comedy-Romance-Drama',
 'Comedy-Drama-Romance',
 'Comedy-Adventure',
 'Drama-Comedy',
 'Thriller-Drama-Romance',
 'Action-Drama-Thriller',
 'Drama-Thriller-Crime-Mystery',
 'Fantasy-Action-Thriller',
 'Drama',
 'Fantasy-Comedy-Family',
 'Comedy-Drama-Romance',
 'Comedy-Drama-Romance',
 'Romance-Drama-Crime',
 'Comedy-Drama-Romance',
 'Romance-Comedy',
 'Comedy-Drama-Romance',
 'Documentary',
 'Family-Animation-Drama',
 'Drama-History',
 'Horror-Mystery-Fantasy',
 'Romance-Comedy-Crime-Fantasy',
 'Action-Adventure-Comedy-Drama-Western',
 'Comedy-Crime',
 'Comedy-Drama',
 'Drama-Comedy-Romance',
 'Crime-Drama-Thriller',
 'Comedy-Family',
 'Adventure-Action-Crime-Thriller',
 'Action-Adventure-Crime',
 'Romance-Comedy',
 'Thriller-Science Fiction-Action-Crime',
 'Action-Thriller',
 'Drama-Romance',
 'Fantasy-Drama-Horror',
 'Western-Drama-Action-Adventure',
 'Comedy-Drama',
 'Comedy-Crime',
 'Crime-Drama-Romance',
 'Action-Adventure-Comedy-Thriller',
 'Fantasy-Action',
 'Horror-Mystery-Thriller',
 'Comedy-Family-Fantasy',
 'Drama-Romance',
 'Comedy-Crime-Music',
 'Family-Comedy',
 'Comedy-Crime-Action',
 'Romance-Western',
 'Action-Comedy-Crime',
 'Crime-Thriller',
 'Action',
 'Horror-Science Fiction-Thriller',
 'Drama-Romance-Thriller',
 'Drama-Crime',
 'Comedy-Fantasy-Adventure',
 'Comedy-Drama',
 'Crime-Thriller-Drama-Romance',
 'Comedy-Thriller-Mystery',
 'Action-Adventure-Thriller',
 'Comedy-Science Fiction-Family',
 'Romance-Thriller-Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Crime-Action-Science Fiction',
 'Drama',
 'Comedy-Romance',
 'Drama',
 'Comedy-Drama',
 'Thriller',
 'Comedy-Romance',
 'Drama-Mystery-Thriller',
 'Family-Adventure-Drama',
 'Action-Thriller-Drama',
 'Western-History',
 'Action-Crime-Drama-Mystery-Romance-Thriller',
 'Drama-Thriller-Mystery',
 'Action',
 'History-War-Action-Drama',
 'Action-Comedy-War',
 'Romance-Drama',
 'Comedy-Drama',
 'Comedy',
 'Action-Drama-Thriller-Crime-Mystery',
 'Drama',
 'Comedy-Drama-Romance',
 'Drama-Music-History',
 'Action-Crime-Thriller',
 'Adventure-Science Fiction',
 'Thriller-Crime',
 'Action-Crime-Drama-Thriller',
 'Drama-History',
 'Family-Adventure',
 'Adventure-Fantasy-Action-Comedy-Family',
 'Comedy-Family',
 'Romance-Drama',
 'Thriller',
 'Drama',
 'Comedy-Mystery',
 'Drama-Crime',
 'Action-Adventure-Drama-Thriller',
 'Drama-Comedy-Romance',
 'Comedy-Romance',
 'Comedy-Drama-Family',
 'Action-Drama-Family-Adventure',
 'Action-Drama-Science Fiction-Thriller',
 'Drama-Fantasy',
 'Crime-Drama-Thriller',
 'Drama',
 'Drama-Romance',
 'Drama-Romance',
 'Drama-Action-Romance',
 'Horror-Science Fiction-Thriller',
 'Comedy-Crime-Drama',
 'Drama-Romance',
 'Comedy-Drama',
 'Action-Drama-Thriller',
 'Action-Adventure-Crime-Science Fiction-Thriller',
 'Comedy',
 'Crime',
 'Drama-Romance',
 'Drama-History',
 'Drama-History-War',
 'Drama',
 'Drama',
 'Comedy-Crime-Thriller',
 'Adventure-Fantasy-Action-Thriller-Science Fiction',
 'Drama-Romance',
 'Comedy-Drama',
 'Comedy-Drama',
 'Mystery-Drama-Comedy',
 'Comedy-Drama-Romance',
 'Drama-Thriller',
 'Science Fiction-Drama-Thriller',
 'Comedy-Drama-Romance',
 'Comedy-Crime-Romance',
 'Action-Adventure-Comedy-Family-Science Fiction',
 'Action-Thriller',
 'Action',
 'Fantasy-Animation-Family',
 'Action-Adventure-Comedy',
 'Western-Action',
 'Action-Crime-Romance',
 'Documentary-History',
 'Family-Fantasy-Science Fiction-Animation',
 'Comedy-Drama',
 'Comedy-Romance',
 'Drama',
 'Romance-Comedy-Family',
 'Comedy-Drama-History-Mystery',
 'Romance-Drama',
 'Comedy-Family',
 'Fantasy-Drama-Thriller-Mystery-Romance',
 'Animation-Family-Adventure-Fantasy-Romance',
 'Action-Thriller-Science Fiction',
 'Adventure-Drama-Western',
 'Fantasy-Action-Crime',
 'Crime-Drama-Thriller',
 'Fantasy-Animation-Family',
 'Romance-Family-Animation-Fantasy',
 'Animation-Family',
 'Comedy-Romance',
 'Adventure-Western',
 'Documentary-Music',
 'Romance-Comedy',
 'Horror-Thriller',
 'Romance-Drama',
 'Crime-Drama-Thriller',
 'Adventure-Comedy-Drama-Family',
 'Animation-Science Fiction-Adventure-Fantasy-Music',
 'Horror-Science Fiction',
 'Comedy-Romance',
 'Animation-Comedy-Family-Adventure',
 'Comedy-Romance',
 'Comedy-Thriller-Crime-Romance',
 'Comedy-Thriller-Crime-Drama',
 'Crime-Drama-Mystery-Thriller',
 'Romance-Animation-Family-Adventure-Fantasy',
 'Comedy',
 'Comedy-Drama-Romance',
 'Comedy-Drama',
 'Mystery-Thriller-Horror',
 'Comedy',
 'Drama-Thriller-Mystery-War',
 'Adventure-Action-Thriller',
 'Fantasy-Action-Adventure-Drama',
 'Action-Comedy',
 'Adventure-Animation-Family-Fantasy',
 'Comedy-Crime-Drama',
 'Action-Thriller',
 'Drama-History',
 'Drama-Romance',
 'Family-Animation-Comedy-Science Fiction',
 'Science Fiction-Adventure',
 'Romance-Drama',
 'Action-Thriller',
 'Drama-Romance',
 'Action-Adventure',
 'Drama-Mystery-Thriller-Crime',
 'Comedy-Romance',
 'Animation-Comedy-Family',
 'Adventure-Family',
 'Drama-Fantasy-Western',
 'Drama-Romance',
 'Comedy-Fantasy-Science Fiction',
 'Horror-Drama-Fantasy',
 'Drama-Mystery-Thriller',
 'Action-Drama-Crime-Thriller',
 'Action-Adventure-Thriller',
 'Action-Adventure-Drama',
 'Science Fiction-Action',
 'Action-Animation-Science Fiction',
 'Comedy-Action',
 'Comedy-Family',
 'Science Fiction-Thriller',
 'Drama-Comedy-War',
 'Comedy-Drama-Romance',
 'Drama-Adventure-Family-Mystery',
 'Drama-History-War',
 'Adventure-Action',
 'Comedy-Crime-Drama',
 'Family-Comedy-Drama',
 'Drama',
 'Drama-Crime',
 'Comedy-Romance',
 'Action-Adventure-Science Fiction',
 'Thriller-Action',
 'Drama-Animation-Family',
 'Comedy-Drama-Thriller',
 'Comedy',
 'Action-Drama-Mystery-Thriller',
 'Fantasy-Comedy-Romance-Science Fiction',
 "[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}, {'id': 10752, 'name': 'War'}]",
 'Action-Adventure-Thriller',
 'Horror-Comedy',
 'Drama-Mystery-Romance',
 'Drama-Fantasy-Romance-Science Fiction',
 'Romance-Comedy',
 'Crime-Drama-Thriller',
 'Drama',
 'Adventure-Family',
 'Action',
 'Fantasy-Comedy-Family',
 'Comedy',
 'Comedy-Fantasy',
 'Comedy',
 'Action-Thriller',
 'Comedy',
 'Action-Drama-Thriller',
 'Science Fiction-Action-Drama-Thriller',
 'Comedy-Family-Fantasy',
 'Romance-Comedy-Drama',
 'Action-Fantasy-Thriller',
 'Drama-Horror-Thriller',
 'Horror-Comedy',
 'Comedy-Drama',
 'Action-Adventure-Science Fiction-Thriller',
 'Drama-History',
 'Comedy-Romance',
 "[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",
 'Drama-Crime',
 'Action-Crime-Thriller',
 'Drama-Comedy',
 'Drama-Thriller',
 'Comedy',
 'Horror-Mystery-Thriller',
 'Science Fiction-Horror-Fantasy-Drama-Comedy',
 'Drama',
 'Comedy-Crime-Action',
 'Horror-Thriller',
 'Drama-Romance',
 'Drama-History-Romance-Thriller-Adventure-War',
 'Comedy-Music-Romance-Drama',
 'Comedy-Music-Romance',
 'Comedy-Romance',
 'Mystery-Romance-Thriller',
 'Thriller-Mystery',
 'Comedy-Romance',
 'Mystery-Thriller',
 'Comedy-Drama-Romance',
 'Comedy-Music-Romance-Crime',
 'Comedy-Mystery-Romance',
 'Drama-Romance',
 'Mystery-Crime-Thriller',
 'Romance-Drama-Music',
 'Comedy-Drama-Romance',
 'Romance-Comedy-Drama',
 'Comedy-Drama-Romance-Family',
 'Adventure-Fantasy-Family',
 'Drama-War-Romance',
 'Drama',
 'Mystery-Drama',
 'Science Fiction-Mystery-Adventure',
 'Adventure-Romance',
 'Drama',
 'Comedy-Drama',
 'Mystery-Drama-Thriller-Romance',
 'Thriller-Romance-Mystery',
 'Mystery-Thriller-Romance',
 'Drama-Romance',
 'Crime-Drama-Mystery-Romance-Thriller',
 'Comedy-Romance',
 'Comedy-Crime-Drama-Romance',
 'Comedy-Romance',
 'Adventure-Romance-History',
 'Drama-Mystery',
 'Comedy-Music-Romance',
 'Comedy-War',
 'Comedy-Romance-Drama',
 'Drama-Western',
 'Comedy-Crime-Mystery',
 'Adventure-Comedy-Family-Fantasy-Romance',
 'Drama-Family-Fantasy',
 'Comedy-Drama',
 'Action-Adventure-Western',
 'Horror-Thriller',
 'Adventure-Romance',
 'Drama-Romance',
 'Drama-Romance',
 'Comedy-Drama-Romance',
 'Drama-Action-Mystery-Romance',
 'Action-Crime-Comedy',
 'Drama',
 'Action-Adventure-Drama-Family',
 'Drama-Romance',
 'Comedy-Drama-Music',
 'Drama',
 'Action-Thriller',
 'War-Drama-Thriller-History',
 'Thriller',
 'Drama-Romance',
 'Action-Crime-Drama-Thriller-Mystery',
 'Crime-Drama-Thriller',
 'Comedy-Crime-Thriller',
 'Drama-Thriller',
 'Action-Crime',
 'Comedy-Action-Family-Drama',
 'Crime-Drama',
 'Adventure-Fantasy-Science Fiction-Family',
 'Comedy-Family-Fantasy',
 'Romance-Comedy-Family-Fantasy',
 'Comedy-Drama-Family',
 'Comedy-Family-Fantasy',
 'Adventure-Family',
 'Adventure-Drama-Family-Fantasy-Science Fiction-Action',
 'Comedy-Adventure-Drama',
 'Comedy-Family-Fantasy',
 'Family-Fantasy-Animation-Romance',
 'Animation-Family',
 'Action-Adventure-Drama-Romance',
 'Comedy-Family-Fantasy',
 'Animation-Family',
 'Adventure-Fantasy-Comedy-Family-Music',
 'Animation-Family-Fantasy-Adventure',
 'Adventure-Animation-Drama-Family',
 'Drama-Family-Music-Romance',
 'Action-Thriller',
 'Science Fiction-Horror',
 'Drama',
 'Comedy-Drama-Romance-Music',
 'Drama-Romance',
 'Drama-Romance',
 'Comedy-Drama-Romance',
 'Crime-Action-Mystery-Thriller',
 'Adventure-Action-Thriller',
 'Drama',
 'Thriller',
 'Drama-Romance',
 'Drama-Romance',
 'Comedy',
 'Crime-Drama-Thriller',
 'Drama-Crime',
 'Crime-Drama-Mystery-Thriller',
 'Family-Fantasy-Comedy',
 'Comedy-Romance-Science Fiction',
 'Comedy',
 'Comedy-Crime',
 'Comedy',
 'Comedy-Music-Romance',
 'Comedy-Romance-Adventure-Family',
 'Crime-Drama',
 'Crime-Thriller',
 'Drama-Music-Romance',
 'Crime-Thriller',
 'Drama-War-Action',
 'Comedy-Crime',
 'Thriller-Mystery',
 'Music-Drama-History',
 'Crime-Drama-Thriller',
 'Crime-Drama-Mystery',
 'Drama-Romance-War',
 'Science Fiction-Adventure-Family-Fantasy',
 'Adventure-Action-Drama',
 'Action-Drama',
 'Action-Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Crime-Drama',
 'Drama',
 'Adventure-Drama-Romance',
 'Mystery-Comedy-Crime',
 'Comedy-Fantasy-Family',
 'Adventure-Action-Thriller-Science Fiction',
 'Horror',
 'Science Fiction-Action',
 'Horror',
 'Comedy',
 'Adventure-Comedy-Fantasy',
 'Romance-Comedy',
 'Drama',
 "[{'id': 99, 'name': 'Documentary'}]",
 'Documentary',
 'Horror',
 "[{'id': 99, 'name': 'Documentary'}]",
 'Comedy-Drama',
 'Drama-Romance',
 'Crime-Drama',
 'Comedy-Science Fiction-Fantasy',
 'Drama-Mystery-Fantasy',
 'Romance-Drama',
 'Crime-Drama',
 'Drama-Romance-War',
 'Comedy-Romance-War',
 'Drama',
 'Drama',
 'Drama',
 'Comedy-Drama-Romance',
 'Crime-Documentary',
 'Comedy-Crime-Drama-Romance',
 'Documentary',
 'Drama',
 'Comedy',
 'Adventure-Action-Science Fiction',
 'Adventure-Family-Fantasy-Comedy-Romance',
 'Adventure-Action',
 'Comedy-Science Fiction',
 'Action-Thriller-Science Fiction',
 'Western',
 'Comedy-Drama',
 'Drama',
 'Adventure-Drama-History-War',
 'Science Fiction-Drama',
 'Drama',
 'Drama-War',
 'Drama-Western',
 'Adventure-Action-Science Fiction',
 'Drama-Fantasy-Romance',
 'Thriller-Mystery',
 'Drama-Crime',
 'Horror-Science Fiction',
 'Fantasy-Horror-Comedy',
 'Action-Drama-History',
 'Action-Crime-Drama-Thriller',
 'Music-Comedy-Action-Crime',
 'Drama-Crime',
 'Drama-War',
 'War-Drama-History',
 'History-Music-Drama',
 'Romance-Comedy-Drama',
 'Drama-Crime',
 'Drama-History',
 'Comedy-Drama-Romance',
 'Drama-History-Adventure',
 'Drama-History-War',
 'Comedy-Crime-Drama',
 'Action-Thriller-Science Fiction',
 'Horror-Comedy',
 'Drama-History-War',
 'Comedy-Drama-Romance',
 'Drama-Thriller-Crime',
 'Drama',
 'Comedy-Drama-Romance',
 'Crime-Thriller-Mystery',
 'Action-Thriller',
 'Drama-History-War',
 'Crime-Drama-Mystery-Thriller',
 'Drama-Science Fiction',
 'Adventure-Drama-Western',
 'Comedy',
 'Horror-Thriller',
 'Crime-Drama',
 'Horror-Comedy-Fantasy',
 'Adventure-Drama-History-Thriller-War',
 'Drama-War',
 'Romance-Fantasy-Drama-Comedy',
 'Western',
 'Thriller-Drama-Mystery',
 'Music-Drama',
 'Adventure-Comedy-Science Fiction',
 'Drama-Comedy',
 'War-Drama-History',
 'Animation-Science Fiction-Action',
 'Adventure-Action-Fantasy',
 'Crime-Drama',
 'Drama-Comedy-History-Romance',
 'Comedy',
 'Comedy-Drama',
 'Comedy-War',
 'Animation-Family',
 'Western',
 'Crime-Mystery-Thriller',
 'Comedy-Crime',
 'Action-Drama-History',
 'Music-Comedy',
 'Documentary',
 'Drama-Romance',
 'Adventure-Action',
 'Comedy-Drama',
 'Drama-History',
 'Comedy-Romance-Drama',
 'Drama-Romance',
 'Comedy-Romance-Science Fiction',
 'Music-Drama',
 'Drama-History-War',
 'Science Fiction',
 'Drama-Fantasy-Comedy',
 'Adventure-Drama',
 'Western-Drama-Crime',
 'Drama',
 'Comedy-Romance-Drama',
 '[]',
 'Science Fiction-Action-Horror',
 'Horror-Comedy',
 'Horror-Thriller',
 'Horror',
 'Horror',
 'Crime-Drama-Horror-Mystery-Thriller',
 'Horror',
 'Horror-Science Fiction',
 'Romance-Horror',
 'Drama-Horror-Science Fiction',
 'Drama-Horror-Thriller',
 'Crime-Thriller',
 'Drama-Thriller',
 'Horror-Thriller',
 'Horror',
 'Fantasy-Horror',
 'Horror-Thriller',
 'Crime-Thriller',
 'Comedy-Drama-Romance',
 'Drama-Romance',
 'Drama-Horror-Mystery-Thriller',
 'Science Fiction-Action-Adventure-Thriller',
 'Drama',
 'Drama',
 'Family-Comedy-Adventure',
 'Family-Fantasy-Drama-Comedy-Romance',
 'Comedy-Drama-Romance',
 'Drama-History',
 'Family-Comedy',
 'Action-Thriller',
 'Science Fiction-Adventure-Mystery',
 'Science Fiction-Action-Adventure-Thriller',
 'Science Fiction-Action-Adventure-Thriller',
 'Action-Adventure-Science Fiction-Thriller',
 'Science Fiction-Action-Adventure-Thriller',
 'Science Fiction-Adventure',
 'Action-Fantasy',
 'Western-Crime-Action-Adventure',
 'Western-Adventure',
 'Romance-Comedy',
 'Comedy-Music-Romance',
 'Action-Crime',
 'Action-Thriller',
 'Horror-Thriller-Adventure',
 'Horror-Thriller',
 'Thriller-Horror',
 'Comedy-Fantasy-Science Fiction',
 'Drama-Comedy',
 'Comedy-Drama-Romance',
 'Comedy-Crime',
 'Comedy-Crime-Drama',
 'Drama-Romance',
 'Drama',
 'Drama',
 'Animation-Comedy',
 'Drama-Thriller',
 'Crime-Horror-Mystery',
 'Action-Adventure-Drama-History-Romance-War',
 'Comedy-Drama-Fantasy',
 'Comedy-Drama-Romance',
 'Comedy',
 'History-Drama',
 'Drama-Romance',
 'Action-Drama-Mystery-Thriller-Crime',
 'Comedy-Romance',
 'Action-Thriller-Crime',
 'Action-Adventure-Comedy-Crime-Drama-Thriller',
 'Action-Adventure-Comedy-Crime-Thriller',
 'Drama',
 'Action-Adventure-Drama-Thriller',
 'Action-Comedy',
 'Comedy-Drama',
 'Drama-Romance',
 'Comedy',
 'Music-Drama-Comedy',
 'Drama-War',
 'Comedy-Romance',
 'Comedy-Drama',
 'Comedy-Drama-Romance',
 'Comedy-Drama-Romance',
 'Crime-Drama-Action',
 'Comedy',
 'Drama-Thriller-Mystery',
 'Drama-History-Action-Thriller',
 'Crime-Drama-Thriller',
 'Comedy',
 'Drama-Romance',
 'Thriller',
 'Comedy-Family',
 'Drama-History-Romance',
 'Comedy-Drama',
 'Comedy-Drama-Romance',
 'Thriller-Action-Romance-Science Fiction-Adventure',
 'Action-Crime-Drama-Mystery-Thriller',
 'Comedy',
 'Drama-Music-History',
 'Crime-Thriller-Drama',
 'Animation-Comedy-Family-Music',
 'Comedy',
 'Action-Adventure-Family-Fantasy-Science Fiction',
 'Drama-Romance',
 'Action-Science Fiction',
 'Drama-Romance',
 'Adventure-Horror-Thriller',
 'Action-Comedy-Thriller-Romance',
 'Crime-Drama-Thriller',
 'Comedy-Crime',
 'War-Drama-History',
 'Comedy',
 'Science Fiction-Action-Drama-Thriller',

In [68]:
import ast

def extract_genres(genres):
    if isinstance(genres, str):
        try:
            genres_list = ast.literal_eval(genres)
            return [genre['name'] for genre in genres_list]
        except (SyntaxError, ValueError):
            return genres.split('-')
    else:
        return []

merged_df_with_valid_box_office_test = merged_df_with_valid_box_office.copy()
merged_df_with_valid_box_office_test.genres = merged_df_with_valid_box_office_test.genres.apply(extract_genres)
merged_df_with_valid_box_office_test.genres.head()

0    [Animation, Adventure, Family, Comedy]
1              [Adventure, Fantasy, Family]
2                         [Romance, Comedy]
3                  [Comedy, Drama, Romance]
4                          [Comedy, Family]
Name: genres, dtype: object

In [69]:
merged_df_with_valid_box_office_test.genres

0        [Animation, Adventure, Family, Comedy]
1                  [Adventure, Fantasy, Family]
2                             [Romance, Comedy]
3                      [Comedy, Drama, Romance]
4                              [Comedy, Family]
                          ...
17722                                  [Action]
17723                                  [Action]
17724                                  [Action]
17725                                  [Action]
17726                                  [Horror]
Name: genres, Length: 17727, dtype: object

In [73]:
merged_df_with_valid_box_office_test["original_title"].fillna(merged_df_with_valid_box_office_test["title"], inplace=True)
merged_df_with_valid_box_office_test.drop("title", axis=1, inplace=True)
merged_df_with_valid_box_office_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  10222 non-null  object
 1   belongs_to_collection  1852 non-null   object
 2   homepage               2814 non-null   object
 3   id                     17727 non-null  object
 4   imdb_id                10222 non-null  object
 5   production_countries   10222 non-null  object
 6   spoken_languages       10222 non-null  object
 7   video                  10222 non-null  object
 8   keywords               14022 non-null  object
 9   backdrop_path          15118 non-null  object
 10  recommendations        9988 non-null   object
 11  budget                 17719 non-null  object
 12  genres                 17727 non-null  object
 13  original_language      17727 non-null  object
 14  original_title         17727 non-null  object
 15  overview               17124 non-null  object
 16  popularity             17727 non-null  object
 17  poster_path            17149 non-null  object
 18  production_companies   16345 non-null  object
 19  release_date           17361 non-null  object
 20  revenue                17716 non-null  float64
 21  runtime                17659 non-null  float64
 22  status                 17727 non-null  object
 23  tagline                11450 non-null  object
 24  vote_average           17727 non-null  float64
 25  vote_count             17727 non-null  float64
 26  cast                   17245 non-null  object
 27  director               16741 non-null  object
 28  Top Cast               17716 non-null  object
 29  rating                 11 non-null     float64
 30  runtimes               10 non-null     object
dtypes: float64(5), object(26)
memory usage: 4.2+ MB

In [75]:
merged_df_with_valid_box_office_test.to_csv('data_output.csv', index=False)

In [78]:
!curl ipecho.net/plain

20.75.126.213

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13  100    13    0     0     80      0 --:--:-- --:--:-- --:--:--    81

In [77]:
import psycopg2
from sqlalchemy import create_engine

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host="34.30.45.126",
    port=5432,
    database="finalproject",
    user="postgres",
    password="teamrocket")

# create a cursor
cur = conn.cursor()

# Create a SQLAlchemy engine
engine = create_engine('postgresql+psycopg2://', creator=lambda: conn)

# Save the DataFrame to the PostgreSQL database
table_name = "movie_data"

merged_df_with_valid_box_office_test.to_sql(
    table_name,
    engine,
    if_exists="replace",  # specify how to handle if the table already exists
    index=False  # specify whether to include the DataFrame index as a column
)

# Close the database connection
conn.close()

OperationalError: connection to server at "34.30.45.126", port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?