## Install Libs

In [3]:
!pip install praw

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting praw
  Downloading praw-7.7.0-py3-none-any.whl (189 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 189.4/189.4 kB 5.5 MB/s eta 0:00:00
Collecting prawcore<3,>=2.1 (from praw)
  Downloading prawcore-2.3.0-py3-none-any.whl (16 kB)
Collecting update-checker>=0.18 (from praw)
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Requirement already satisfied: websocket-client>=0.54.0 in /usr/local/lib/python3.10/dist-packages (from praw) (1.5.1)
Requirement already satisfied: requests<3.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from prawcore<3,>=2.1->praw) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (3.4)
Installing collected packages: update-checker, prawcore, praw
Successfully installed praw-7.7.0 prawcore-2.3.0 update-checker-0.18.0

In [4]:
import pandas as pd
import numpy as np
import praw
import re #RegEx : Regular expression
from textblob import TextBlob
import datetime as dt
import time
from concurrent.futures import ProcessPoolExecutor

#Clound DB
import psycopg2
from sqlalchemy import create_engine

## Postgre DB

In [5]:
conn_string = 'postgresql://postgres:teamrocket@34.30.45.126:5432/finalproject'

# Connect to postgreDB
conn = psycopg2.connect(conn_string)

In [6]:
#create engine for DFtoSQL
engine = create_engine(conn_string)

## Movie table into df

In [ ]:
df = pd.read_sql_table('movie_data',engine.connect())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  17727 non-null  object
 1   belongs_to_collection  17718 non-null  object
 2   homepage               17727 non-null  object
 3   id                     17727 non-null  object
 4   imdb_id                17727 non-null  object
 5   production_countries   17727 non-null  object
 6   spoken_languages       17727 non-null  object
 7   video                  17727 non-null  object
 8   keywords               17727 non-null  object
 9   backdrop_path          17727 non-null  object
 10  recommendations        17727 non-null  object
 11  budget                 17719 non-null  object
 12  genres                 17727 non-null  object
 13  original_language      17727 non-null  object
 14  original_title         17727 non-null  object
 15  overview               17727 non-null  object
 16  popularity             17727 non-null  object
 17  poster_path            17727 non-null  object
 18  production_companies   17727 non-null  object
 19  release_date           17727 non-null  object
 20  revenue                17727 non-null  object
 21  runtime                17727 non-null  object
 22  status                 17727 non-null  object
 23  tagline                17727 non-null  object
 24  vote_average           17727 non-null  object
 25  vote_count             17727 non-null  object
 26  cast                   17727 non-null  object
 27  director               17727 non-null  object
 28  Top Cast               17727 non-null  object
 29  rating                 17727 non-null  object
dtypes: object(30)
memory usage: 4.1+ MB

In [ ]:
df.isnull().sum()

adult                    0
belongs_to_collection    9
homepage                 0
id                       0
imdb_id                  0
production_countries     0
spoken_languages         0
video                    0
keywords                 0
backdrop_path            0
recommendations          0
budget                   8
genres                   0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
release_date             0
revenue                  0
runtime                  0
status                   0
tagline                  0
vote_average             0
vote_count               0
cast                     0
director                 0
Top Cast                 0
rating                   0
dtype: int64

In [ ]:
df.head()

,adult,belongs_to_collection,homepage,id,imdb_id,production_countries,spoken_languages,video,keywords,backdrop_path,...,revenue,runtime,status,tagline,vote_average,vote_count,cast,director,Top Cast,rating
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",http://toystory.disney.com/toy-story,862,tt0114709,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",false,martial arts-jealousy-friendship-bullying-elem...,/lxD5ak7BOoinRNehOCA85CQ8ubr.jpg,...,373554033.0,81.0,Released,NaN,7.966,16430.0,Tom Hanks-Tim Allen-Don Rickles-Jim Varney-Wal...,John Lasseter,"[""Tom Hanks"", ""Tim Allen"", ""Don Rickles"", ""Jim...",NaN
1,False,NaN,NaN,8844,tt0113497,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",false,giant insect-board game-jungle-disappearance-r...,/pYw10zrqfkdm3yD9JTO6vEGQhKy.jpg,...,262821940.0,104.0,Released,Roll the dice and unleash the excitement!,7.237,9437.0,Robin Williams-Kirsten Dunst-Bradley Pierce-Bo...,Joe Johnston,"[""Robin Williams"", ""Kirsten Dunst"", ""Bradley P...",NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,15602,tt0113228,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",false,fishing-halloween-sequel-old man-best friend-w...,/1J4Z7VhdAgtdd97nCxY7dcBpjGT.jpg,...,71500000.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,6.5,324.0,Walter Matthau-Jack Lemmon-Ann-Margret-Sophia ...,Howard Deutch,"[""Walter Matthau"", ""Jack Lemmon"", ""Ann"", ""Marg...",NaN
3,False,NaN,NaN,31357,tt0114885,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",false,based on novel or book-interracial relationshi...,/jZjoEKXMTDoZAGdkjhAdJaKtXSN.jpg,...,81452156.0,127.0,Released,Friends are the people who let you be yourself...,6.3,128.0,Whitney Houston-Angela Bassett-Loretta Devine-...,Forest Whitaker,"[""Whitney Houston"", ""Angela Bassett"", ""Loretta...",NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,11862,tt0113041,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",false,parent child relationship-baby-midlife crisis-...,/lEsjVrGU21BeJjF5AF9EWsihDpw.jpg,...,76594107.0,106.0,Released,Just When His World Is Back To Normal... He's ...,6.2,626.0,Steve Martin-Diane Keaton-Martin Short-Kimberl...,Charles Shyer,"[""Steve Martin"", ""Diane Keaton"", ""Martin Short...",NaN

## Reddit Authentication

In [ ]:
# authentication
user_agent = "directorscript by u/azerw2"

#Please refer to your own reddit develop account
reddit = praw.Reddit(
    client_id="e3p5LcEz40YCgsUgEn8CXA",
    client_secret="FZrXIxe_qU7RMW5UQZ8my2tNqdQgZA",
    #redirect_uri = "http://localhost:8080",
    #username = '',
    #password = '',
    user_agent=user_agent
)

print(reddit.read_only)

False

## Functions

In [ ]:
def get_headlines_multiprocess(queue,movie_title,release_date):

  # subreddit r/movies
  subreddit =  reddit.subreddit("movies")
  for submission in subreddit.search(
      str(movie_title),
      syntax='lucene',
      sort='relevance',
      limit=10
  ):
    # Filter submissions before release date
    if submission.created_utc <= release_date.timestamp():
      #Add title
      print(submission.title)
      queue.put(submission.title)
      #Add the top_level comments
      submission.comments.replace_more(limit=0)
      for top_level_comment in submission.comments:
        queue.put(str(top_level_comment.body))
  queue.put(None)

In [ ]:
def get_submission_title(input):
  result = []
  for submission in reddit.subreddit('all').search(
      str(input),
      syntax='lucene',
      sort='relevance',
      limit=1000
  ):
    result.append(submission.title)
  
  return result

In [ ]:
def get_headlines(movie_title):
  result = []
  # subreddit r/movies
  subreddit =  reddit.subreddit("movies")
  for submission in subreddit.search(
      str(movie_title),
      syntax='lucene',
      sort='relevance',
      limit=10
  ):
    # Filter submissions before release date
    #if submission.created_utc <= release_date.timestamp():
      #Add title
      #print(submission.title)
      result.append(submission.title)
      #Add the top_level comments
      submission.comments.replace_more(limit=0)
      for top_level_comment in submission.comments:
        result.append(str(top_level_comment.body))
  
  return result

In [ ]:
def sentiment_analysis_multiprocess(in_queue,o_queue):
  print('Sentiment: Running',flush=True)

  while True:
      sentiment = in_queue.get()
      if sentiment == None:
        break
      
      
      #Analysis
      sentiment = cleanTxt(sentiment)
      sentiment = remove_emoji(sentiment)
      #sentiment = getSubjectivity(sentiment)
      sentiment = getPolarity(sentiment)
      insight = getInsight(sentiment)

      o_queue.put(insight)

In [ ]:
def sentiment_analysis(sentiment):
    #Analysis
    sentiment = cleanTxt(sentiment)
    sentiment = remove_emoji(sentiment)
    #sentiment = getSubjectivity(sentiment)
    sentiment = getPolarity(sentiment)
    insight = getInsight(sentiment)

    return insight

In [ ]:
def dump_queue(queue):
  result_list = []
  while not queue.empty():
    result_list.append(queue.get())
  
  return result_list

In [ ]:
def sentiToInsight_multiprocess(title,release_date):
    input_queue = Queue()
    output_queue = Queue()

    headline_P = Process(target=get_headlines_multiprocess, args=(input_queue,title,release_date,))
    sentiment_P = Process(target=sentiment_analysis_multiprocess,args=(input_queue,output_queue))

    headline_P.start()
    sentiment_P.start()

    
    #print(output_queue.get())

    headline_P.join()
    sentiment_P.join()

    result_list = dump_queue(output_queue)

    result_df = pd.DataFrame(result_list,columns=  ['insight'])
    return(result_df['insight'].value_counts())

In [ ]:
def sentiToInsight(title,method='title'):
  #Output a 
  if method=='comments':
    sentiments = get_headlines(title)
  elif method == 'title':
    sentiments = get_submission_title(title)
    
  result=[]
  for x in sentiments:
    result.append(sentiment_analysis(x))
  
  result_df = pd.DataFrame(result,columns=  ['insight'])
  return(result_df['insight'].value_counts())

In [ ]:
#  functions

def wrapper(title_df):
  title_df['Titles'] =  title_df['Titles'].apply(cleanTxt)
  title_df['Titles'] =  title_df['Titles'].apply(remove_emoji)
  title_df['Subjectivity'] =  title_df['Titles'].apply(getSubjectivity)
  title_df['Polarity'] =  title_df['Titles'].apply(getPolarity)
  title_df['Insight'] = title_df['Polarity'].apply(getInsight)


  return title_df['Insight'].value_counts()
 

def cleanTxt(text):
    text = re.sub(r'@[A-Za-z0-9]+', '', text) #Remove @mentions replace with blank
    text = re.sub(r'#', '', text) #Remove the '#' symbol, replace with blank
    text = re.sub(r'RT[\s]+', '', text) #Removing RT, replace with blank
    text = re.sub(r'https?:\/\/\S+', '', text) #Remove the hyperlinks
    text = re.sub(r':', '', text) # Remove :
    
    return text

def remove_emoji(string):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

#Create a function to get the subjectivity
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

#Create a function to get Polarity
def getPolarity(text):
    return TextBlob(text).sentiment.polarity

#Group the range of Polarity to different categories
def getInsight(score):
    if score < 0:
        return "Negative"
    elif score == 0:
        return "Neutral"
    else:
        return "Positive"

## Director Polarity

In [ ]:
#Copy of df
df_1 = df[['id','original_title','director']]
df_1.head()

      id               original_title         director
0    862                    Toy Story    John Lasseter
1   8844                      Jumanji     Joe Johnston
2  15602             Grumpier Old Men    Howard Deutch
3  31357            Waiting to Exhale  Forest Whitaker
4  11862  Father of the Bride Part II    Charles Shyer

In [ ]:
df_1['director'].shape

(17727,)

In [ ]:
# Split data into chunks
chunk_size = 355
data_chunks = np.array_split(df_1,chunk_size)
reddit_df = list(range(chunk_size))

In [ ]:
# Records of error chunks
error_list=[]

In [ ]:
for x in range(len(data_chunks)):
    print(f" ------------------Processing No.{x+1} chunk, Total ({x+1}/{len(data_chunks)})-----------------------")
    reddit_df[x] = data_chunks[x]

    # Handling movie title
    counter=0
    ratio = []
    try:
      with ProcessPoolExecutor(70) as executor:
        for result in executor.map(sentiToInsight,data_chunks[x]['director'],chunksize=1):
            # Output
            like = dislike = ratio_result = 0
            for i in result.index:
              if(i == 'Positive'):
                like = result[i]
              elif(i == 'Negative'):
                dislike = result[i]

            if ((like+dislike) !=0):
              ratio_result = (like-dislike)/(like+dislike)
            else:
              ratio_result = 0.0

            counter+=1

            ratio.append(ratio_result)
            print(ratio_result)
            print(f"Still have {len(data_chunks[x])-counter} to process...")
              

        reddit_df[x]['director_l/d_ratio'] = ratio
        reddit_df[x].reset_index(drop=True)
        #write to DB
        #reddit_df[x].to_sql('reddit_director',con = engine,if_exists = 'append')
        print("------------------------------------All done!------------------------------------")

    except Exception as e:
          print(e)
          error_list.append(f"No. {x} failed.")
          print(error_list)

 ------------------Processing No.1 chunk, Total (1/2)-----------------------
0.40540540540540543
Still have 48 to process...
0.728
Still have 47 to process...
0.5217391304347826
Still have 46 to process...
0.6091954022988506
Still have 45 to process...
0.0
Still have 44 to process...
0.0
Still have 43 to process...
0.14285714285714285
Still have 42 to process...
0.0
Still have 41 to process...
0.5384615384615384
Still have 40 to process...
0.10843373493975904
Still have 39 to process...
0.14049586776859505
Still have 38 to process...
0.30434782608695654
Still have 37 to process...
-0.5384615384615384
Still have 36 to process...
0.3
Still have 35 to process...
0.6842105263157895
Still have 34 to process...
0.6875
Still have 33 to process...
0.4576271186440678
Still have 32 to process...
-0.1875
Still have 31 to process...
0.5238095238095238
Still have 30 to process...
0.216
Still have 29 to process...
0.2483221476510067
Still have 28 to process...
0.3013698630136986
Still have 27 to process...
1.0
Still have 26 to process...
0.0
Still have 25 to process...
0.5238095238095238
Still have 24 to process...
0.3953488372093023
Still have 23 to process...
0.3176470588235294
Still have 22 to process...
0.0
Still have 21 to process...
0.27058823529411763
Still have 20 to process...
0.6090225563909775
Still have 19 to process...
0.04054054054054054
Still have 18 to process...
0.45454545454545453
Still have 17 to process...
0.4647887323943662
Still have 16 to process...
0.189873417721519
Still have 15 to process...
0.1111111111111111
Still have 14 to process...
0.6
Still have 13 to process...
0.6
Still have 12 to process...
0.75
Still have 11 to process...
0.42857142857142855
Still have 10 to process...
0.19402985074626866
Still have 9 to process...
0.5
Still have 8 to process...
0.5454545454545454
Still have 7 to process...
0.2222222222222222
Still have 6 to process...
0.3953488372093023
Still have 5 to process...
1.0
Still have 4 to process...
0.5912408759124088
Still have 3 to process...
0.008695652173913044
Still have 2 to process...
0.16666666666666666
Still have 1 to process...
0.7009345794392523
Still have 0 to process...
------------------------------------All done!------------------------------------
 ------------------Processing No.2 chunk, Total (2/2)-----------------------
0.41935483870967744
Still have 48 to process...
0.29292929292929293
Still have 47 to process...
0.19083969465648856
Still have 46 to process...
0.8148148148148148
Still have 45 to process...
0.5652173913043478
Still have 44 to process...
0.0
Still have 43 to process...
0.6470588235294118
Still have 42 to process...
0.5333333333333333
Still have 41 to process...
0.7971014492753623
Still have 40 to process...
0.6989247311827957
Still have 39 to process...
0.4897959183673469
Still have 38 to process...
0.6666666666666666
Still have 37 to process...
0.3559322033898305
Still have 36 to process...
0.5862068965517241
Still have 35 to process...
0.5
Still have 34 to process...
0.5308641975308642
Still have 33 to process...
0.37815126050420167
Still have 32 to process...
0.5652173913043478
Still have 31 to process...
0.6666666666666666
Still have 30 to process...
0.1111111111111111
Still have 29 to process...
0.4528301886792453
Still have 28 to process...
0.4942528735632184
Still have 27 to process...
0.3333333333333333
Still have 26 to process...
0.14545454545454545
Still have 25 to process...
-1.0
Still have 24 to process...
0.4032258064516129
Still have 23 to process...
0.1111111111111111
Still have 22 to process...
0.40298507462686567
Still have 21 to process...
0.5555555555555556
Still have 20 to process...
0.5963302752293578
Still have 19 to process...
0.0967741935483871
Still have 18 to process...
0.6
Still have 17 to process...
0.5789473684210527
Still have 16 to process...
0.7425742574257426
Still have 15 to process...
0.6
Still have 14 to process...
0.0
Still have 13 to process...
0.6907216494845361
Still have 12 to process...
0.36
Still have 11 to process...
0.3592233009708738
Still have 10 to process...
0.07317073170731707
Still have 9 to process...
0.3090909090909091
Still have 8 to process...
0.8787878787878788
Still have 7 to process...
0.2920353982300885
Still have 6 to process...
-0.375
Still have 5 to process...
0.46938775510204084
Still have 4 to process...
0.3333333333333333
Still have 3 to process...
0.3333333333333333
Still have 2 to process...
0.009900990099009901
Still have 1 to process...
0.5533980582524272
Still have 0 to process...
------------------------------------All done!------------------------------------

In [ ]:
print(error_list)

[]

## Query test

In [ ]:
#Select data that need process from DB
cur = conn.cursor()
query = "SELECT t1.id, t1.original_title,t1.director\
         FROM movie_data t1\
         LEFT JOIN reddit_director t2 ON t2.id = t1.id\
         WHERE t2.id IS NULL"

cur.execute(query)
result = cur.fetchall()
conn.commit()

rest_df = pd.DataFrame(result, columns=['id', 'original_title', 'director'])
rest_df.head()

Empty DataFrame
Columns: [id, original_title, director]
Index: []

In [ ]:
rest_df.shape

(98, 3)

In [7]:
# Read table from DB
director_df = pd.read_sql_table('reddit_director',engine.connect())
director_df.head()

,index,id,original_title,director,director_l/d_ratio
0,0,862,Toy Story,John Lasseter,0.281553
1,1,8844,Jumanji,Joe Johnston,0.708738
2,2,15602,Grumpier Old Men,Howard Deutch,0.842105
3,3,31357,Waiting to Exhale,Forest Whitaker,0.596491
4,4,11862,Father of the Bride Part II,Charles Shyer,0.866667

In [8]:
director_df.shape

(17725, 5)

In [ ]:
#In case my query fail
#conn.rollback()

In [ ]:
#cur.execute("drop table reddit_director")
#conn.commit()

## Save a .csv file copy

In [11]:
director_df.to_csv('./director_data.csv',index=False)